.tabGallery {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

div.tabGallery > * {
  margin: 1.25rem;
}

.leftTab,
.rightTab {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabGallery .sort {
  color: #505050;
}

.tabGallery .events,
.tabGallery .years {
  display: flex;
  align-items: center;
  border: #224259 solid 1px;
}

.dropdown {
  display: flex !important;
}
.dropdown-menu {
  border: none !important;
  padding-top: 0%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#dropdown-custom-2 {
  display: block;
  width: 17rem;
  background-color: white;
  color: #224259;
  border: white;
  font-weight: 600;
  font-size: 2.25rem;
  margin-top: 0%;
  padding-top: 0%;
  margin-bottom: 0%;
  border-radius: 0%;
  margin-left: auto;
}

.dropdown-menu > * {
  background-color: white !important;
  color: #9a9494 !important;
  font-weight: 600 !important;
  font-size: 2.25rem !important;
}
.dropdown-menu > *:hover {
  color: #224259 !important;
}

.GalleryCards {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media screen and (max-width: 1225px) {
  .tabGallery {
    font-size: 1.75rem;
  }

  #dropdown-custom-2 {
    font-size: 1.75rem;
    width: 14rem;
  }
}

@media screen and (max-width: 900px) {
  .leftTab,
  .rightTab {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .tabGallery {
    font-size: 1.5rem;
  }

  div.tabGallery > * {
    margin-left: 1rem;
  }

  #dropdown-custom-2 {
    font-size: 1.5rem;
    width: 11.6rem;
  }
  .dropdown-menu > * {
    font-size: 1.5rem !important;
  }
  .dropdown-menu {
    min-width: 30px !important;
  }
}

@media screen and (max-width: 480px) {
  .tabGallery {
    font-size: 0.75rem;
  }
  div.tabGallery > * {
    margin-left: 0.25rem;
  }
  #dropdown-custom-2 {
    font-size: 0.75rem;
    width: 5.8rem;
    padding-left: 0%;
    padding-right: 0%;
  }
  .dropdown-menu > * {
    font-size: 0.75rem !important;
  }
  .dropdown-menu {
    min-width: 20px !important;
  }
}
