.page-title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 20px;
    h2{
        font-size: 3.5vw;
        font-weight: 600;
        color: #333;
        width: 80%;
        text-align: center;
    }

}