<!-- About Us -->

<div class="about_part" id="about">
  <div class="about_header" data-aos="zoom-in">About Us</div>
  <div class="about_main">
    <div class="about_img" data-aos="fade-right">
      <img src="./images/HomePage/about-us2.png" alt="About Image" />
    </div>
    <div class="about_context" data-aos="fade-left">
      <div class="about_about">
        <div class="para1">
          <b>E-Cell, NIT Silchar</b> was established with the aim to promote
          entrepreneurship and startups with the college.
        </div>
        <div class="para2">
          We thrive to develope the attitude of self-dependency among the
          students and the willing to upgrade by the virtue of his own ideas.
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset: 400,
    duration: 1500,
  });
</script>

<!-- About Us -->
