<!-- Collaboration-part -->
<div class="colleb">
  <h5>More than 200+ companies collaborated with us</h5>
  <div class="collebLogo">
    <div class="dividein2">
      <img src="images/HomePage/Collaboration/allay.jpeg" />
      <img src="images/HomePage/Collaboration/001_LWT_logo-removebg-preview.png" />
      <img
        src="images/HomePage/Collaboration/JANTA_GROUP__1___1_-removebg-preview.png"
      />
      <img src="images/HomePage/Collaboration/engineer hub logo.png" />
      <img src="images/HomePage/Collaboration/ssstart.jpeg" />
    </div>

    <div class="dividein2">
      <img src="images/HomePage/Collaboration/logo2.jpeg" />
      <img src="images/HomePage/Collaboration/yen.png" />
      <img src="images/HomePage/Collaboration/Logo with TM.png" />
    </div>
  </div>
  <!-- Collaboration-part -->
</div>
