<!-- Event Highlights -->
<div class="full__Container" id="blur">
  <div class="event__Header">
    <h1 class="main__Heading">Event Highlights</h1>
  </div>
  <div class="event__Container">
    <div class="left__Event__Container" id="blur1">
      <img
        class="event__highlight__image"
        src="./images/HomePage/EVENT__IMAGE.jpeg"
        alt=""
        width="90%"
      />
      <div class="srijan__Content">
        <h2 class="sub__event__heading">Srijan2.0_&#60;&#62;</h2>
        <p class="event__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
          aliquid odit consequuntur recusandae eum fugiat quae maxime tenetur
          non praesentium.
        </p>
        <a class="event__btn" href="#blur1" onclick="SRIJAN()"
          >READ MORE &rarr;</a
        >
      </div>
    </div>
    <div class="right__Event__Container">
      <div class="event__Content event__Content__1" id="blur2">
        <div class="content__1">
          <h2 class="sub__event__heading">Empressario_&#60;&#62;</h2>
          <p class="event__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
            aliquid odit consequuntur recusandae eum fugiat quae maxime tenetur
            non praesentium.
          </p>
          <a class="event__btn" href="#blur2" onclick="EMPRESSARIO()"
            >READ MORE &rarr;</a
          >
        </div>
      </div>
      <div class="event__Content event__Content__2" id="blur3">
        <div class="content__2">
          <h2 class="sub__event__heading">Bechkedikhao_&#60;&#62;</h2>
          <p class="event__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
            aliquid odit consequuntur recusandae eum fugiat quae maxime tenetur
            non praesentium.
          </p>
          <a class="event__btn" href="#blur2" onclick="BECHKEDIKHAO()"
            >READ MORE &rarr;</a
          >
        </div>
      </div>
      <div class="event__Content event__Content__3" id="blur4">
        <div class="content__3">
          <h2 class="sub__event__heading">Tecnoesis_&#60;&#62;</h2>
          <p class="event__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam,
            aliquid odit consequuntur recusandae eum fugiat quae maxime tenetur
            non praesentium.
          </p>
          <a class="event__btn" href="#blur3" onclick="TECNOESIS()"
            >READ MORE &rarr;</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div id="SRIJAN">
  <h2 class="sub__event__heading">SRIJAN 2.0</h2>
  <p class="event__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, rem. lorem
  </p>
  <a class="event__btn" href="#blur1" onclick="SRIJAN()">CLOSE</a>
</div>
<div id="EMPRESSARIO">
  <h2 class="sub__event__heading">EMPRESSARIO</h2>
  <p class="event__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, rem. Lorem
    ipsum dolor consectetur adipisicing elit. Ducimus, modi! lorem
  </p>
  <a class="event__btn" href="#blur2" onclick="EMPRESSARIO()">CLOSE</a>
</div>

<div id="BECHKEDIKHAO">
  <h2 class="sub__event__heading">BECHKEDIKHAO</h2>
  <p class="event__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, rem. lorem
  </p>
  <a class="event__btn" href="#blur2" onclick="BECHKEDIKHAO()">CLOSE</a>
</div>
<div id="TECNOESIS">
  <h2 class="sub__event__heading">TECNOESIS</h2>
  <p class="event__text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, rem. lorem
  </p>
  <a class="event__btn" href="#blur43" onclick="TECNOESIS()">CLOSE</a>
</div>

<script>
  function SRIJAN() {
    var blur = document.getElementById("blur");
    blur.classList.toggle("active");

    var popup = document.getElementById("SRIJAN");
    popup.classList.toggle("active");
  }
  function EMPRESSARIO() {
    var blur = document.getElementById("blur");
    blur.classList.toggle("active");

    var popup = document.getElementById("EMPRESSARIO");
    popup.classList.toggle("active");
  }
  function BECHKEDIKHAO() {
    var blur = document.getElementById("blur");
    blur.classList.toggle("active");

    var popup = document.getElementById("BECHKEDIKHAO");
    popup.classList.toggle("active");
  }
  function TECNOESIS() {
    var blur = document.getElementById("blur");
    blur.classList.toggle("active");

    var popup = document.getElementById("TECNOESIS");
    popup.classList.toggle("active");
  }

  var preloader = document.getElementById("loading");

  function preloaderfun() {
    preloader.style.display = "none";
  }
</script>
<!-- Event Highlights -->
