<!-- home-page-starting -->
<div id="particles-js-2"></div>
<div id="particles-js"></div>

<script type="text/javascript" src="javascripts/particlesJs/particles.js"></script>
<script type="text/javascript" src="javascripts/particlesJs/app.js"></script>
<script type="text/javascript" src="javascripts/particlesJs/app-2.js"></script>

<div class="parallax" id="home">
  <div class="content-wrapper">
    <div class="content-header">
      <h3>VIRTUE.</h3>
      <h3>SELF-DEPENDENCY.</h3>
      <h3>WILLINGNESS.</h3>
    </div>
    <div class="banner">
      <h3 class="banner-heading">
        <span class="heading-1">VIRTUE</span>
        <span class="heading-2">SELF-DEPENDENCY</span>
        <span class="heading-3">WILLINGNESS</span>
      </h3>
    </div>
    <h2>E - CELL</h2>
    <h1>NIT SILCHAR</h1>
    <div class="button">
      <a href="#about"><button>Explore</button></a>
    </div>
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/ecell.nit.silchar/"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a href="https://www.instagram.com/ecell.nitsilchar/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.linkedin.com/in/e-cell-nit-silchar-848602154"
      ><i class="fab fa-linkedin-in"></i
    ></a>
  </div>
</div>
<!-- home-page-ending -->
