<!--  speaker  -->
<div class="header">
  <h3 class="quote">“</h3>
  <h5 class="quote">„</h5>
  <h2>Speakers</h2>
  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Speakers</h4>
</div>
<div class="Testimonial">
  <div class="slideshow-container">
    <div class="mySlides Testimonial">
      <div class="Test_photo">
        <img src="images/HomePage/Speaker/Global Rashid.jpeg" />
        <div class="Test_content">
          <p>
            We are stepping into a world where financial literacy and
            cryptocurrency is the most relevant topic. So for us it is
            imperative to know more about subjects of financial literacy and
            digital currencies. Srijan 3.0 has given you the opportunity to know
            and learn more about the same from Global Rashid, a youtuber with 4
            Years of Experience in Cryptocurrency Trading with a demonstrated
            history of working in the internet industry. Along with that he is
            skilled in Management, Entrepreneurship, Leadership, Marketing, and
            Social Media.
          </p>
          <div class="content_info">
            <div class="info_name">
              <h4>Global Rashid</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mySlides Testimonial">
      <div class="Test_photo">
        <img src="images/HomePage/Speaker/sumit sir.jpeg" />
        <div class="Test_content">
          <p>
            Sumit Dutta, a seasoned professional with hands-on experience into
            Key Account Management, Strategic Alliances Development, Stakeholder
            Management, People Management, Startups, Angel Investors & VC's will
            grace the event as chief guest and deliver a keynote session on
            Entrepreneurship.As the Region Lead of NASSCOM, he has developed and
            executed various strategies and have worked in a very encouraging
            Entrepreneurship ecosystem and arena, his presence and kind words
            have definately aspired the students of NIT Silchar.
          </p>
          <div class="content_info">
            <div class="info_name">
              <h4>Sumit Dutta</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mySlides Testimonial">
      <div class="Test_photo">
        <img src="images/HomePage/Speaker/puskhar sir.jpg" />
        <div class="Test_content">
          <p>
            In this speaker session, Mr. Pushkar Raj Thakur sir has dilineated
            with us, his odyssey as an Entrepreneur along with his escapades in
            the World of Business. In addition to being the CEO & founder at
            Coursedes Learning Solution PVT LTD, Thakur Sir is the Master of
            Leadership Psychology. Acclaimed as one of the most Influential
            Motivational Speakers and Personality development coaches, he has
            inspired multitudes as a Youth Icon.
          </p>
          <div class="content_info">
            <div class="info_name">
              <h4>Pushkar Raj Thakur</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mySlides Testimonial">
      <div class="Test_photo">
        <img src="images/HomePage/Speaker/Santanu sir.jpeg" />

        <div class="Test_content">
          <p>
            When we talk about entrepreneurship, guidance and knowledge is
            strived for setting up a great start and for paving out the way of
            success with ease. In the Speaker Session, Shantanu Jain sir
            narrated his success story and his journey and experience of how to
            be one. Apart from being an avid reader, passionate writer and
            social entrepreneur, he is the co-founder at readon.in. A personal
            finance, fintech, Jain has great interests in finance, investing,
            block chain, stock market.
          </p>
          <div class="content_info">
            <div class="info_name">
              <h4>Shantanu Jain</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mySlides Testimonial">
      <div class="Test_photo">
        <img src="images/HomePage/Speaker/Sankar sir.jpeg" />

        <div class="Test_content">
          <p>
            Whenever it comes to learning, we don't just look for expertise but
            for the experience, Which leads us to become an entrepreneur. We are
            overwhelmed to announce that our next guest speaker were Sankar Bora
            sir, he not only open up new dialects for working as an entrepreneur
            but also shared with us his experience of 17+ years in the world of
            business.
          </p>
          <div class="content_info">
            <div class="info_name">
              <h4>Sankar Bora</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
  </div>
</div>

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>
<!--  speaker  -->
