<!-- TimeLine section -->
<section class="timeline">
  <div class="timeline-section1">
    <div class="timeline-heading">
      <img class="timeline-heading-pattern" />
      <div class="timeline-heading-text">Timeline</div>
      <div id="timeline-icon">
        <img class="timelineIcon" src="/images/Homepage/Timeline/Srijan-3.0.png" />
      </div>
    </div>
    <div class="timeline-content">
      <div class="timeline-content-heading" id="main-heading">
        Srijan <&nbsp;>
      </div>
      <div class="timeline-content-text" id="small-content">
        NATIONAL INNOVATION & ENTREPRENEURSHIP SUMMIT
      </div>
      <div class="timeline-content-about" id="main-content">
        SRIJAN is a unique initiative by The Entrepreneurship Cell, NIT Silchar,
        to motivate and educate people about entrepreneurship and to provide a
        meeting ground for Corporate experts and young entrepreneurs E Summit
        NIT Silchar.
      </div>
    </div>
  </div>
  <div class="timeline-section2">
    <div class="line">
      <div class="line-circles one" id="c1">
        <div class="line-text one">Orientation</div>
      </div>
      <div class="line-circles two active-circle" id="c2">
        <div class="line-text two">Srijan</div>
      </div>
      <div class="line-circles three" id="c3">
        <div class="line-text three">Empressario</div>
      </div>
      <div class="line-circles four" id="c4">
        <div class="line-text four">Incubation</div>
      </div>
    </div>
  </div>
</section>
<!-- TimeLine section  -->
