.progressive-bar-container {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 5px;
}
  
.progressive-bar {
    height: 100%;
    background-color: #2196f3;
    transition: width 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}


@media (max-width:991px){
    .progressive-bar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
    }
}