.indiviualblog{
    padding-top: 4rem;
    width: 80%;
    margin: 0 auto;
}

.indiviualblog h1{
    padding-top: 3vw;
    padding-bottom: 2vw;
    color: rgba(28, 55, 75, 1);
    font-size: 3.5vw;
    text-align: center;
}

.indiviualblog p{
    color: rgba(96, 96, 96, 1);
    font-size: 1.7vw;
    line-height: 1.6;
    /* padding-bottom: 5vw; */
}

.writerdetails{
    display: flex;
    background-color: rgba(232, 246, 250, 1);
    border: 1px solid rgba(102, 108, 116, 0.4);
    margin-top: 5vw;
    margin-bottom: 10vw;
    padding-left: 3.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    border-radius: 15px;
}

.imgholderwriter{
    width: 17%;
    height: 17%;
}

.imgholderwriter img{
width: 100%;
height: 100%;
 border-radius: 50%;
}

.writerintro{
    width: 83%;
}

.writerintro p{
    color: rgba(34, 66, 89, 1);
    font-size: 1.5vw;
    padding: 0vw 1.2vw 0 3vw;
}

.imgoldermainblogindi{
    width: 70%;
    /* height: 10%; */
    margin: 2vw auto;
}

.imgoldermainblogindi img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6.456px;
    pointer-events: none;
    user-select: none;
}

@media (max-width:660px){
    .indiviualblog{
        width: 90%;
        padding-top: 10vw;
    }

    .indiviualblog h1{
        font-size: 7vw;
        padding-top: 0;
        /* margin-bottom: 5vw; */
    }

    .indiviualblog p{
        font-size: 5vw;
        /* margin-top: 10vw; */
    }

    /* .imgholderwriter{
        width: 25vw;
        height: 25vw;
    } */

    .writerdetails{
        flex-direction: column;
    }

    .imgholderwriter{
    margin: 2.5vw auto;
    width: 25vw;
    height: 25vw;
    }

    .writerintro{
        width: 95%;
    }

    .writerintro{
        padding: 3vw;
    }

    .writerintro p{
        margin: 0;
        padding: 0;
        font-size: 4vw;
    }
}