* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-top {
  padding-top: 2%;
  background: url(https://res.cloudinary.com/dp92qug2f/image/upload/v1678340964/Ecell%20website/hero%20section/teamhero_vu5coo.webp);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 61.5% 100%;
  background-attachment: scroll;
  background-color: var(--bg-color-white);
}

.team-top h1,
.team-top span {
  color: var(--text-color-primary);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 7.5vw;
  line-height: 1.2;
  font-weight: 700;
  padding-left: 7%;
}

.er {
  color: var(--text-color-white) !important;
  padding-left: 0 !important;
}

.mem-part {
  padding-left: 0 !important;
}

.me-ou {
  padding-top: 5%;
}

@media only screen and (max-width: 1225px) {
  .team-top {
    color: var(--text-color-white) !important;
  }
}

@media only screen and (max-width: 990px) {
  .team-top h1,
  .team-top span {
    line-height: 1.3;
  }
}
