.collab{
text-align: center;
width: 90%;
margin: 0 auto;
border-bottom: 3px solid #161c2f;
padding: 3rem 0 0 0;
margin-bottom: 3.5rem;
}

.collab h1{
    font-size: 4rem;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Barlow Condensed', sans-serif;
    color: #161c2f;
    font-weight: 900;
}

.ru-collab{
    width: 90%;
    object-fit: contain;
    filter: grayscale(1);
   /* padding-bottom: .7rem;
    border-bottom: 3.5px solid red; */
    transition: 0.2s ease-out;
}

.ru-collab:hover{
    filter: grayscale(0);
}

.btn-junior{
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    width: 90%;
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    color: black;
    position: relative;
    z-index: 9;
  }
  
  .btn-junior button{
    margin: 0 1rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: 900;
  }

.rupay-main{
    background: url('../../../public/images/collaboration/RuPay.png');
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   height: 90vh;
   opacity: 1;
   padding-top: 3rem;
   background-color: rgb(11, 11, 62);
}

.unacademy-main{
    background: url('../../../public/images/collaboration/Unacademy-compressed.jpg');
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   height: 90vh;
   opacity: 1;
   padding-top: 3rem;
}

.janta-main{
    background: url('../../../public/images/collaboration/Cognizant_Mangalore_Feb7_2020_2_1581097237290_1581335758668-compressed.jpg');
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   height: 90vh;
   opacity: 1;
   padding-top: 3rem;
}

.vedantu-main{
    background: url('../../../public/images/collaboration/Vedantu-compressed.jpg');
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   height: 90vh;
   opacity: 1;
   padding-top: 3rem;
}

.cocacola-main{
    background: url('../../../public/images/collaboration/CocoCola-compressed.png');
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   height: 90vh;
   opacity: 1;
   padding-top: 3rem;
}

.ieee-main{
    background: url('../../../public/images/collaboration/IEEE-compressed.jpg');
    position: relative;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
    height: 90vh;
    opacity: 1;
    padding-top: 3rem;
    background-color: rgb(11, 11, 62);
}

.pnb-main{
    background: url('../../../public/images/collaboration/PNB-compressed.jpg');
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   height: 90vh;
   opacity: 1;
   padding-top: 3rem;
}

.collab-content{
background-color: white;
  padding: 1rem;
  max-width: 40%;
  border-radius: 5px;
  position: absolute;
  right: 8%;
}

.collab-content p{
    color: #505050;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.125rem;
}

@media only screen and (max-width:660px){
    .collab{
        padding-top: 2rem;
        margin-bottom: 3rem;
    }

    .collab h1{
        font-size: 2rem;
    }

    .btn-junior{
        width: 98%;
        padding: 0.8rem 0;
    }
    
    .btn-junior button{
      margin: 0 0rem;
    }

    .collab-content{
        left: 5%;
        max-width: 90%;
    }

    .collab-content p{
        font-size: 18px;
    }
}

@media only screen and (max-width:320px){
    .btn-junior button{
      font-size: .5rem;
  }
  }