.hero-top{
   background: url('../../../public/images/HERO\ SECTION-compressed.jpg');
   position: relative;
   justify-content: center;
   align-items: center;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   padding-bottom: 0;
   height: 100vh;
   opacity: 1;
   background-attachment: fixed;
}

.hero-top-main{
    position: absolute;
    top: 35%;
    left: 10%;
}

.hero-top-main h1{
    font-family: 'League Gothic', sans-serif;
    font-size: 12rem;
    letter-spacing: 5px;
    padding-bottom: 0.8rem;
}

.hero-top-main h2{
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    letter-spacing: .7px;
}

.typewriter-hero {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    position: absolute;
    top:50%;
    left: 50%;
    font-weight: 600;
    padding-right: 4rem;
    letter-spacing: .5px;
}


@media only screen and (max-width:1200px) and (min-width:992px){
    .hero-top-main{
        left: 3%;
    }
}

@media only screen and (max-width:1100px) and (min-width:662px){
    .hero-top-main{
        left: 28%;
        top: 30%;
    }

    .typewriter-hero{
        top: 65%;
        left: 20%;
    }
}

@media only screen and (max-width:660px){
    .hero-top-main{
        top: 29%;
        left: 5%;
    }

    .hero-top-main h1{
        font-size: 7rem;
    }

    .hero-top-main h2{
        font-size: 1.1rem;
        padding-right: 1rem;
    }

    .typewriter-hero{
        top: 60%;
        font-size: 1.5rem;
        left: 5%;
        width: 80%;
        margin: 0 auto;
        padding-right: 0;
        letter-spacing: .3px;
    }
}

@media only screen and (max-width:320px){
    .hero-top-main h1{
        font-size: 6rem;
    }

    .typewriter-hero{
        font-size: .9rem;
    }
}