.wrapper{
    width: 100%;
    max-width: 90rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
  }
  
  .brand-logo{
    width: 3rem;
}

  .navbar0{
    width: 100%;
    height: 4rem;
    padding: 1.875rem;
    background-color: #224259;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    transition: all .3s ease-out;
    position: fixed;
  }
  
  .expanded{
    background-color: #224259;
    box-shadow: 0px 4px 12px 0px #22425966;
  }

  .navbar0 .logo{
    color: #D9D2C3;
    font-size: 1.75rem;
    font-weight: 600;
  }
  
  .navbar0 .links{
    list-style: none;
    display: flex;
    color: #D9D2C3;
    cursor: pointer;
  }
  
  .navbar0 .links li{
    margin: 0 .9375rem;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .links a{
    transition: all .15s ease-in-out;
  }

 
  .links a:hover{
    color: #1da1f2;
  }
  
  .navbar0 .toggle-icon{
    display: none
  }
  
  
  @media(max-width: 768px){
    .navbar0{
      position: relative;
      transition: 0.5s all ease-in-out;
    }
  
   
    .navbar0.expanded{
      height: 100vh;
      background-color: #224259;
    }
  
    .navbar0.expanded .links{
      position: absolute;
      top: 7.5rem;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }
  
    .navbar0.expanded .links li{
      margin: .9375rem 0;
      font-size: 1.5rem;
    }
  
    .navbar0 .logo{
      position: absolute;
      top: .5rem;
      left: .9375rem;
    }
  
    .navbar0 .toggle-icon{
      display: block;
      color: #D9D2C3;
      position: absolute;
      top: 1.4rem;
      right: 1.25rem;
    }
  
    .navbar0 .links{
      position: absolute;
      top: 4rem;
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  
    .navbar0 .links li{
      margin: .9375rem 0;
      font-size: 1.5rem;
    }
  }