.testimonial-top{
    background: url(../../../public/images/testimonial/TESTIMONIAL\ IMAGE.png);
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:right;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   min-height: 100vh;
   height: auto;
   opacity: 1;
   width: 54%;
   float: right;
   margin-top: 10vh;
   background-attachment: fixed;
}

.test-m-t{
    transform: translateY(-100vh);
    max-height: 120vh;
}


.c1{
   display: flex;
    width: 90%;
    margin: 0 auto;
    min-height: 75vh;
    /* background-color: red; */
}


.person-img{
    margin-left: 10vh;
    width: 27%;
    background: url(../../../public/images/testimonial/sivaji.jpg);
    position: relative;
   justify-content: center;
   align-items: center;
   background-position:center;
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 0;
   opacity: 1;
   height: 60vh;
   border-radius: .625rem;
   filter: grayscale(1);
   transition: all 0.15s ease-out;
}

.person-img:hover{
    filter: grayscale(0);
}

.person-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    min-width: 40%;
    max-width: 60%;
    border-radius: .825rem;
    margin-top: 2rem;
    padding: 1.5rem;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    text-align: left;
    max-height: 55vh;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.4rem;
   line-height: 1.6;
}


.quote{
    background: url('../../../public/images/testimonial/Quote.svg');
    min-height: 5vh;
    background-position: left;
    background-repeat: no-repeat;
   width: 5rem;
}

.quote-rotate{
    transform: rotate(180deg);
    margin: 0 0 0 auto;
    
}

.main-testi-content{
    padding-left: 3rem;
    padding-right: 3rem;
}

.person-content h1{
    text-align: right;
    font-size: 1.9rem;
    color: #224259;
    margin-top: 3vh;
}

.person-content h3{
    text-align: right;
    font-size: 1rem;
    color: #3e618e;
   
}

.test-ti{
    display: flex;
    justify-content: center;
}

.monial{
    color: white !important;
}

.testimonial-main{
    margin: 5vh auto 0 auto;
}

 .control-arrow{
    color: red !important;
}

.control-arrow{
    height: 5vh !important;
    opacity: .4 !important;
    background-color:#07131c !important;
    border-radius: .4rem !important;
}

.control-arrow:hover{
    background-color: #1da1f2 !important;
    color: #000 !important;
}


.carousel .control-prev.control-arrow{
    left: 70% !important;
    top: 89% !important;
}

.carousel .control-next.control-arrow{
    right: 26% !important;
    top: 89% !important;
}


@media only screen and (max-width:1025px) and (min-width:661px){
    .person-img{
        margin-left: 5vh;
        width: 40%;
    }

    .c1{
        width: 97%;

    }

    .person-content{
        max-height: fit-content;
    }

    .carousel .control-prev.control-arrow{
        left: 60% !important;
    }

    .carousel .control-next.control-arrow{
        right: 32% !important;
    }
}

@media only screen and (max-width:660px){
    
    .c1{
       width: 100%;
       flex-direction: column;
       min-height: 90vh;
       height: auto;
    }
   
    .person-img{
       margin-left: 2vh;
       z-index: 20;
       width: 70%;
       max-height: 30vh;
       margin: 1rem auto;
       object-fit: contain;
    }
   
    .testimonial-top{
       width: 100%;
    }
   
    .person-content{
       min-width: 100% !important;
       margin: 0 auto;
       transform: translateY(-7vh);
       padding: 10vh 3rem 1.5rem 1.2rem !important;
       max-height: fit-content;
    }
   
    .main-testi-content{
       padding-left: 0rem;
       padding-right: 0rem;
       font-size: 1.3rem;
       text-align: justify;
       font-family: 900;
   }
   
   .person-content h1{
       font-size: 1.3rem;
   }

   .carousel .control-prev.control-arrow{
    left: 40% !important;
    top: 93% !important;
    /* margin-top: 1rem; */
}

.carousel .control-next.control-arrow{
    right: 42% !important;
    top: 93% !important;
}

   }

@media only screen and (max-width:320px){
    .carousel .control-next.control-arrow{
        right: 40% !important;
    }
}