.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  transition: all 0.3s ease-in-out;
  z-index: 9999999999999999999 !important;

  .frame {
    position: relative;
    width: 60vw;
    height: 70%;
    border-radius: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      vertical-align: top;
      border-radius: 20px;
    }
    @media screen and (max-width: 768px) {
      height: 60vw;
      width: 70vw;
    }
    @media screen and (max-width: 426px) {
      height: 30%;
      width: 70%;
    }
  }
}

.visible {
  scale: 1;
}

@media (max-width: 660px) {
  .container {
    .frame {
      height: 80vw;
      width: 80vw;
    }
  }
}
