<!-- Navbar starting -->
<div id="main" class="navbar sticky">
  <ul>
    <li class="links underline">
      <a href="/">Home</a>
    </li>
    <li class="links">
      <a href="#blur">Events</a>
    </li>
    <li class="links">
      <a href="/ecell-team">Our Team</a>
    </li>
    <li class="image">
      <a style="padding: 0" href="/">
        <img
          class="img logo-1"
          src="./images/logo/ecell-logo.png"
          alt="image"
          srcset=""
          style="display: none"
        />
      </a>
      <a style="padding: 0" href="/">
        <img
          class="img logo-2"
          src="images/logo/ecell-logo-01 (2).svg"
          alt="image"
          srcset=""
        />
      </a>
    </li>
    <li class="links">
      <a href="https://srijan-nits.in">Srijan</a>
    </li>
    <li class="links">
      <a href="/gallery">Gallery</a>
    </li>
    <li class="links">
      <a href="#contact">Contact Us</a>
    </li>
  </ul>
  <div class="hamburger">
    <div class="icon mobile">
      <a href="/">
        <img
          class="img logo-1"
          src="images/logo/ecell-logo-01 (2).svg"
          alt="image"
          srcset=""
        />
      </a>
      <a href="/">
        <img
          class="img logo-2"
          src="./images/logo/ecell-logo.png"
          alt="image"
          srcset=""
          style="display: none"
        />
      </a>
    </div>
    <div class="ham-bar">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</div>
<!-- Navbar ending -->
