
.container{
   margin-top: 1rem;
   margin-bottom: 2rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
  gap: 2rem;
  justify-content: center;
  border-radius: 8px;
}

.jr-dev{
background-color: white;
height: 508px;
width: 384px;
left: 20px;
top: 20px;
border-radius: 8px;
gap: 12px;
border: 0.5px solid #9A9494;
box-sizing: border-box;
box-shadow: -4px -4px 12px 0px #F2F2F240;
box-shadow: 4px 4px 12px 0px #4F4F4F33;

}

.jr-dev:hover .images img{
   margin-top: 30px;
height: 336px;
width: 336px;
left: 24px;
top: 24px;
border-radius: 4px;
}

.images img{
   width: 100%;
height: 450px;
left: -34px;
top: 0px;
}

.text{
   visibility: hidden;
}

.jr-dev:hover .text{
   visibility: visible;
border-radius: nullpx;
font-family: Barlow Condensed;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
 

.body{
   width: 100%;
}

.title{
font-family: Barlow Condensed;
font-size: 36px;
font-style: italic;
font-weight: 600;
line-height: 43px;
letter-spacing: 0em;
text-align: center;
}

.social-media{
   visibility: hidden;
}

.jr-dev:hover .social-media{
   visibility: visible;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 2.5rem;
   height: 2.5rem;

}

.MediaLogo{
   color:  #232323;
   height: 30px; 
    width: 30px;
   left: 190px;
   top: 0px;
   border-radius: 0px;
   position: relative;
   align-items: center;
   gap: 12px;
   padding: 0;
   margin-top: 0;
   margin-right:2.50rem;
   margin-bottom: 1rem;
}

.heading h1{
   border-style: none;
}

@media only screen and (max-width:660px) {
   .heading h1{
      font-size: 2.5rem;
   }
   .jr-dev{
      height: 408px;
      width: 300px;
   }

   .images img{
      width: 300px;
      height: 350px;
   }

   .jr-dev:hover .images img{
      height: 250px;
      width: 250px;
   }

   .title{
      font-size: 2rem;
   }

   .jr-dev:hover .text{
      font-size: 20px;
      margin-bottom: 0rem;
   }

   .social-media{
      position: relative;
      right: 40px;
   }
}

@media only screen and (max-width:1200px) and (min-width:661px){
   .heading h1{
      font-size: 3.5rem;
   }
   .jr-dev{
      height: 408px;
      width: 300px;
   }

   .images img{
      width: 300px;
      height: 350px;
   }

   .jr-dev:hover .images img{
      height: 250px;
      width: 250px;
   }

   .title{
      font-size: 2rem;
   }

   .jr-dev:hover .text{
      font-size: 20px;
      margin-bottom: 0rem;
   }

   .social-media{
      position: relative;
      right: 40px;
      margin-top: 1.5rem;
   }
}

