/* SAKSHI SECTION GALLERY PAGE TOP CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

.navbar{
  background-color: white;
  position: -webkit-sticky;
position: sticky;
top: 0;
top: 0%;
  width:100vw;
  font-size: medium;
      z-index:10;
      
    
}

.opaque{
  background-color:rgba(240,226,226,.4);
      z-index: 10;
}

.navbar ul{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content:center;
}

.navbar li{
  display: flex;
  align-items: center;
  list-style: none;
  padding:0px 13px;
  margin:0px 5px;
}

.navbar li a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight:bolder;
  font-family:'poppins','sans-serif'; 
  padding:13px 12px;
  color: #080606;
}

.underline{
  border-bottom: 5px solid #224259;
 }

.underline a{
  color: #224259 !important;
}

.navbar li a:hover{
  color:rgb(40, 39, 97);
}

.active_bar{
  background-color: #224259;
  color: white;
}

.img{
  width:58px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:  black;
  
}

@media only screen and (max-width: 872px) {
  .blur{
    height:500vh;
    width:100vw;
    background-color: #000;
    opacity: 0.8;
}
  .navbar ul {
      position: fixed;
      left: -100%;
      top: 7rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .navbar ul.active {
      left: 0;
  }

  .navbar ul li {
      margin:2px 0;
  }

  .navbar li a{
      font-size: 25px;
      font-weight:550px;
      font-style:normal;
      color:white;
  }

  .hamburger {
      color:white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      height:8rem;
      top:3%
  }

  .ham-bar{
      margin:10px 15px;
  }
  
  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
      background-color:white;
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-12px) rotate(-45deg);
      background-color:white;
  }

}

.bg-img{
  background: url(/images/Bg_gallerY.jpg);
  background-size: cover;
  min-width: 100%;
  
  padding-top: 56.23%;
  background-repeat: no-repeat;
  position: relative;
}

.photo{
  position: absolute;
  top: 44%;
    left: 7%;
    font-size: 8vw;
  
  color: white;
}

.gallery-banner{
  position: absolute;
  top: 61%;
  left: 5%;
  font-size: 12vw;
  color: white;
  display: flex;
}

.banner_head{
  display: flex;
  justify-content: center;
  position: relative;
}

.Banner_navbar{
  position: absolute;
  top: -3.5rem;
  background-color: white;
  min-width: 55%;
  height: 7rem;
  border-radius: 7px;
  box-shadow:0.3rem 0px 0.2rem 0.2rem grey ;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(82, 80, 80);
}

.Banner_navbar span{
  padding:6px 13px;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  min-width: 5rem;
  font-family: 'poppins',  'sans-serif';
  border-radius: 5px;
  color: grey;
}

.Banner_navbar span:hover {
  background-color: #224259;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.active_bar{
  background-color: #224259;
  color: white !important;
}

@media screen and (max-width: 700px){

  .Banner_navbar{
    top: -3rem;
    height: 6rem;
  }

  .Banner_navbar span{
    font-size: 1.5rem;
    min-width: 4rem;
  }
}

@media screen and (max-width: 427px){
  .Banner_navbar{
   min-width: 71%;
   top: -2.5rem;
   height: 5rem;
  }

  .Banner_navbar span{
    font-size: 1rem;
    min-width: 3rem;
  }
}

/* DONEELA SECTION GALLERY PAGE PHOTOS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 10px;
}

.image-gallery {
  flex-wrap: wrap;
  scroll-behavior: smooth;
  width: 100%;
  margin-top: 8rem;
}

.gallery {
  position: relative;
  column-count: 3;
  margin: 4%;
  gap: 1%;
}

.imgage {
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
}

img {
  width: 100%;
  transition: 0.25s ease-in-out;
}

@media screen and (max-width: 768px) {
  .gallery {
      column-count: 2;
  }
}

@media screen and (max-width: 425px) {
  .gallery {
      column-count: 1;
  }
}


/* DONEELA SECTION GALLERY PAGE PHOTOS */
footer {
  margin-top: 10rem;
  font-family: "Source Sans Pro", sans-serif;
  clear: both;
  margin: 10rem 0 0;
  background-color: #211B25;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 2rem 2rem;
}

footer li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  margin-top: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

footer li span {
  margin-left: 1rem;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  background-color: #211B25;
}

footer h2 {
  text-align: center;
  margin-bottom: 0.8rem;
  font-size: 2.5rem;
}

footer hr {
  border-color: #6d7c7c;
  border-style: none;
  border-top-style: dotted;
  border-width: 4px;
  width: 3rem;
  margin: 1rem auto 1.5rem;
}

/* footer colum1 1 start here */
.fcol-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 30vw;
  margin-top: 2rem;
}

.fcol-1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}

.fcol-1 img {
  width: 100%;
}

.fcol-1 h1 {
  font-size: 3rem;
  line-height: 5rem;
}

.fcol-1 h3 {
  font-size: 2rem;
}

.fcol-1 li span {
  font-size: 1.2rem;
}

.fcol-1 div {
  width: 12rem !important;
  text-align: center;
  margin-right: 1.5rem;
}
/* footer-col-1 end here */


/* footer col-2 start here */
.fcol-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25vw;
  padding: 0 2rem;
}

.fcol-2 a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}

.fcol-2 a .icons {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fcol-2 li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px auto;
  grid-template-columns: 10px auto;
  grid-gap: 20px;
  cursor: pointer;
  line-height: 2rem;
}

.fcol-2 li p {
  display: inline;
  font-size: 1.2rem;
}

.fcol-2 li p span {
  font-size: 1.5rem;
  font-weight: bold;
}

.fcol-2 a:after {
  content: "";
  display: block;
  height: 90%;
  top: -110%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

.fcol-2 a:hover:after {
  top: 5%;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.fcol-2 a:hover .icons {
  position: relative;
  color: #211B25;
  z-index: 3;
}

.fcol-2 a:before {
  content: "";
  display: inline-block;
  height: 100%;
}


/* footer col-3 start here */
.fcol-3 {
  width: 25vw;
  padding: 0 2.5rem;
}

.fcol-3 input[type=email] {
  background-color: #000;
  color: #fff;
  height: 2.6rem;
  width: 16vw;
  padding: 0 1rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
}

.fcol-3 button {
  background: #cfbd17;
  height: 2.2rem;
  width: 2.2rem;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  font-weight: 100;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  margin: 2px;
}

.fcol-3 p {
  margin: 1rem 0;
  color: #fff;
  font-size: 1.5rem;
}
/* footer col-3 end here */


/* footer bottom start here */
.footer-bottom {
  background-color: #251A1E;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
}

.footer-bottom p {
  display: inline;
  font-size: 1rem;
}

.footer-bottom button {
  background-color: #251A1E;
  color: #fff;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
}

@media (max-width: 968px) {
  .footer-top {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 2rem 3rem !important;
  }

  .footer-top .fcol-1 {
      width: 100vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  }

  .footer-top .fcol-2 {
      margin-top: 2.5rem;
      width: 100vw;
  }

  .footer-top .fcol-2 ul {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  }

  .footer-top .fcol-2 ul li:nth-child(2) {
      margin-left: 2rem;
      margin-right: 2rem;
  }

  .footer-top .fcol-2 ul li {
      grid-gap: 0;
  }

  .footer-top .fcol-2 ul p {
      display: none;
  }

  .footer-top .fcol-3 {
      margin-top: 2.5rem;
      width: 100vw;
      text-align: center;
  }

  .footer-top .fcol-3 input[type="email"] {
      width: 75vw;
  }
  
  .footer-top .fcol-3 button {
      margin-left: -2rem;
  }
}