.container_jrdev {
  /* margin-top: 1rem;
   margin-bottom: 2rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 2rem;
   justify-content: center;
   border-radius: 8px; */

  margin: 5% 7%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.jr-dev {
  background-color: white;
  height: 25rem;
  width: 21rem;
  border-radius: 8px;
  gap: 1rem;
  border: 0.5px solid #9a9494;
  box-sizing: border-box;
  box-shadow: -4px -4px 12px 0px #f2f2f240;
  box-shadow: 4px 4px 12px 0px #4f4f4f33;
  transition-duration: 0.3 sec;
  overflow: hidden;
}

.jr-dev:hover .images_jrdev img {
  object-fit: cover;
  margin-top: 1.5rem;
  height: 16rem;
  width: 19rem;
  border-radius: 4px;
  transition: all 350ms ease;
}
.images_jrdev {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.images_jrdev img {
  object-fit: cover;
  width: 100%;
  height: 21rem;
  transition: all 350ms ease;
}

.jrdev_card_text {
  visibility: hidden;
  transition: all 350ms ease;
  text-align: center;
}

.jr-dev:hover .jrdev_card_text {
  visibility: visible;
  border-radius: nullpx;
  font-family: Barlow Condensed;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0em;
  text-align: center;
  margin-top: -0.6rem;
}

.body {
  width: 100%;
}

.jrdev_title {
  font-family: Barlow Condensed;
  font-size: 34px;
  font-style: italic;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-jr {
  visibility: hidden;
  transition: all 350ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jr-dev:hover .social-media-jr {
  visibility: visible;
}

.MediaLogo-jr {
  color: #232323 !important;
  height: 30px;
  left: 28px;
  top: 0px;
  border-radius: 0px;
  position: relative;
  gap: 0.75rem;
  padding: 0;
  margin-top: 0;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.jr_heading h1 {
  border-style: none;
  text-align: center;
  font-size: 4rem;
  margin: 2rem;
}

@media (max-width: 1200px) {
  .container_jrdev {
    overflow: hidden;
    gap: 0.3rem;
  }
}

@media (max-width: 975px) {
  .container_jrdev {
    gap: 0.5rem;
  }
}

@media (max-width: 750px) {
  .container_jrdev {
    margin: 5% 3%;
  }
}

@media only screen and (max-width: 660px) {
  /* .container_jrdev{
      row-gap: 1.9rem;
      column-gap: 0.5rem;
   } */
  .jr_heading h1 {
    font-size: 9.5vw;
  }

  .jr-dev {
    height: 18rem;
    width: 42.3vw;
  }

  .images_jrdev img {
    width: 42.4vw;
    height: 15rem;
  }
  .jr-dev:hover .images_jrdev img {
    height: 11rem;
    width: 34.5vw;
    margin-top: 1.2rem;
  }
  .jrdev_title {
    font-size: 5.2vw;
  }

  .jr-dev:hover .jrdev_card_text {
    font-size: 3.3vw;
    margin-top: -0.9rem;
  }

  .sr-dev:hover .social-media-jr {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 7.2rem;
    margin-top: -0.5rem;
  }

  .MediaLogo-jr svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .MediaLogo-jr {
    width: 0.5rem;
    left: 17px;
    margin-top: -10px;
  }
}

@media only screen and (max-width: 460px) {
  /* .container_jrdev {
      row-gap: 2rem;
      column-gap: 0.5rem;
   } */
  .jr_heading h1 {
    font-size: 9.5vw;
  }
  .jr-dev {
    height: 15rem;
    width: 45.3vw;
  }

  .images_jrdev img {
    width: 45.4vw;
    height: 12rem;
  }

  .jr-dev:hover .images_jrdev img {
    height: 8.5rem;
    width: 36.5vw;
    margin-top: 1rem;
  }
  .jrdev_title {
    font-size: 5.2vw;
  }

  .jr-dev:hover .jrdev_card_text {
    font-size: 4vw;
    margin-top: -1rem;
  }
  .jr-dev:hover .social-media-jr {
    margin-top: -0.5rem;
    right: 0rem;
  }
  .MediaLogo-jr svg {
    height: 1.3rem;
    width: 1.3rem;
  }
  .MediaLogo-jr {
    position: relative;
    width: 0.2rem;
    left: 16px;
    margin-top: -4px;
  }
}
@media only screen and (max-width: 362px) {
  .container_jrdev {
    margin: 3% 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.7rem;
    justify-content: center;
  }
  .jr_heading h1 {
    font-size: 9.5vw;
  }
  .jr-dev {
    height: 10rem;
    width: 39.3vw;
  }
  .images_jrdev img {
    width: 39.3vw;
    height: 8rem;
  }
  .jr-dev:hover .images_jrdev img {
    height: 5.5rem;
    width: 31.5vw;
    margin-top: 0.7rem;
  }
  .jrdev_title {
    font-size: 4.8vw;
    margin-top: -7px;
    margin-bottom: 0px;
  }
  .jr-dev:hover .jrdev_card_text {
    font-size: 4vw;
    margin-top: -1rem;
  }
  .jr-dev:hover .social-media-jr {
    margin-top: -1rem;
    right: 0;
  }
  .MediaLogo-jr svg {
    height: 1rem;
    width: 1rem;
  }
  .MediaLogo-jr {
    position: relative;
    width: 0px;
    left: 12px;
    margin-top: -4px;
    margin-right: 36px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 661px) {
  .container_jrdev {
    overflow: hidden;
    column-gap: 0.5rem;
  }

  .jr_heading h1 {
    font-size: 3.8rem;
  }
  .jr-dev {
    height: 22rem;
    width: 18rem;
  }
  .jrdev_title {
    font-size: 1.9rem;
    margin-top: -0.1rem;
  }

  .images_jrdev img {
    height: 18rem;
    width: 100%;
  }

  .jr-dev:hover .images_jrdev img {
    height: 14rem;
    width: 14rem;
    margin-top: 1.5rem;
  }

  .jr-dev:hover .jrdev_card_text {
    font-size: 1.5rem;
    line-height: 0.4rem;
    margin-top: -0.3rem;
  }

  .social-media-jr {
    position: relative;
    right: 2px;
    margin-top: -10px;
  }
  .MediaLogo-jr svg {
    width: 1.4rem;
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 975px) and (min-width: 661px) {
  .container_jrdev {
    row-gap: 2rem;
    column-gap: 0.7rem;
  }
  .jr_heading h1 {
    font-size: 3.3rem;
  }
  .jr-dev {
    height: 18rem;
    width: 15rem;
  }
  .jrdev_title {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .images_jrdev img {
    height: 15rem;
    width: 100%;
  }

  .jr-dev:hover .images_jrdev img {
    height: 11rem;
    width: 12rem;
    margin-top: 1.5rem;
  }

  .jr-dev:hover .jrdev_card_text {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-top: -0.7rem;
  }

  .social-media-jr {
    position: relative;
    right: 2px;
    margin-top: -22px;
  }
  .MediaLogo-jr svg {
    width: 1.3rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 661px) {
  .container_jrdev {
    row-gap: 2rem;
    column-gap: 0.8rem;
  }
  .jr_heading h1 {
    font-size: 3.5rem;
  }
  .jr-dev {
    height: 19rem;
    width: 15rem;
  }
  .jrdev_title {
    font-size: 1.5rem;
  }

  .images_jrdev img {
    height: 16rem;
    width: 15rem;
  }

  .jr-dev:hover .images_jrdev img {
    height: 12rem;
    width: 12rem;
    margin-top: 1.5rem;
  }
  .jr-dev:hover .jrdev_card_text {
    font-size: 1.2rem;
    line-height: 0.5rem;
    margin-top: -0.3rem;
    margin-bottom: 1.5rem;
  }

  .social-media-jr {
    margin-top: -1.1rem;
  }

  .MediaLogo-jr svg {
    width: 1.3rem;
  }
}
