
.container_jrdev{
margin-top: 1rem;
margin-bottom: 2rem;
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 2rem;
justify-content: center;
border-radius: 8px;
}

.jr-dev{
background-color: white;
height: 508px;
width: 384px;
left: 20px;
top: 20px;
border-radius: 8px;
gap: 12px;
border: 0.5px solid #9A9494;
box-sizing: border-box;
box-shadow: -4px -4px 12px 0px #F2F2F240;
box-shadow: 4px 4px 12px 0px #4F4F4F33;
overflow: hidden;
}

.jr-dev:hover .images_jrdev img{
object-fit: cover;
margin-top: 30px;
height: 336px;
width: 336px;
left: 24px;
top: 24px;
border-radius: 4px;
transition: all 350ms ease;
margin-left: 24px;
}

.images_jrdev img{
object-fit: cover;
width: 100%;
height: 450px;
left: -34px;
top: 0px;
}

.jrdev_card_text{
   visibility: hidden;
}

.jr-dev:hover .jrdev_card_text{
visibility: visible;
border-radius: nullpx;
font-family: Barlow Condensed;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
 

.body{
   width: 100%;
}

.jrdev_title{
font-family: Barlow Condensed;
font-size: 34px;
font-style: italic;
font-weight: 600;
line-height: 43px;
letter-spacing: 0em;
text-align: center;
}

.social-media-jr{
   visibility: hidden;
}

.jr-dev:hover .social-media-jr{
   visibility: visible;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 2.5rem;
   height: 2.5rem;
}

.MediaLogo-jr{
   color:  #232323 !important;
   height: 30px;
   width: 30px;
   left: 190px;
   top: 0px;
   border-radius: 0px;
   position: relative;
   align-items: center;
   gap: 12px;
   padding: 0;
   margin-top: 0;
   margin-right: 2.5rem;
   margin-bottom: 1rem;
}

.jr_heading h1{
   border-style: none;
   text-align: center;
   font-size: 4rem;
   margin: 2rem;
}

@media only screen and (max-width:660px) {
   .container_jrdev{
      overflow: hidden;
   }
   .jr_heading h1{
      font-size: 2.5rem;
       text-align: center;  
       }

   .jr-dev{
      height: 230px;
      width: 164px;
      transition-duration: 0.3 sec;
   }

   .images_jrdev img{
      width: 164px;
      height: 190px;
   }
   .jr-dev:hover .images_jrdev img{
      height: 140px;
      width: 143px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      transition: all 350ms ease;
   }
   .jrdev_title{
      font-size: 19px;
   }
   .jr-dev:hover .jrdev_title{
      margin: -6px;
   }
  
   .jrdev_card_text{
      font-size: 2rem;
   }

   .jr-dev:hover .jrdev_card_text{
      font-size: 15px;
      margin-top: -14px;
   }

   .social-media-jr{
      position: relative;
      right: 120px;
      bottom: 19px;
   }
   
   .MediaLogo-jr svg{
   width: 1.3rem;
   }

   .MediaLogo-jr{
      margin: 13px;
   }
}

@media only screen and (max-width:1200px) and (min-width:661px){
   .jr_heading h1{
      font-size: 3.5rem;
   }
   .jr-dev{
      height: 408px;
      width: 300px;
   }

   .images_jrdev img{
      width: 300px;
      height: 350px;
   }

   .jr-dev:hover .images_jrdev img{
      height: 250px;
      width: 250px;
   }

   .jrdev_card_text{
      font-size: 2rem;
   }

   .jr-dev:hover .jrdev_card_text{
      font-size: 20px;
      margin-bottom: 0rem;
   }

   .social-media-jr{
      position: relative;
      right: 40px;
      margin-top: 1rem;
   }
   .MediaLogo-jr svg{
      width: 2rem;
      }
   
}
