  <!-- Aadi bhaiya part -->
  <div id="core" class="ecellteam" style="display: none">
    <div class="President_div">
        <!-- President -->
        <div class="pesident">
            <h3 class="heading-adi">President</h3>
            <div class="box">
                <img src="./images/our-team/Shriti.jpg" alt="Shriti Mishra" />
                <div class="box-content">
                    <div class="content">
                        <h3 class="title">Shriti Mishra</h3>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/shriti-mishra-m15"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/shriti.mishra.33"><i class="fab fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Vice President -->
        <div class="Vice-president">
            <h3 class="heading-adi">Vice President</h3>
            <div class="box">
                <img src="./images/our-team/Mayur.jpg" alt="Mayur Mulchandani" />
                <div class="box-content">
                    <div class="content">
                        <h3 class="title">Mayur Mulchandani</h3>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/mayur-mulchandani-898973198"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100009396306613"><i class="fab fa-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Member_div -->
    <div class="Member_div">
        <div class="rows">
            <!-- executiveHead -->
            <div class="Heads">
                <div>
                    <h3 class="heading-adi">Executive Co-Head</h3>
                </div>
                <div class="heads">
                    <div>
                        <div class="box">
                            <img src="./images/our-team/Swaraj.jpeg" alt="Swaraj Pal Kesari" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Swaraj Pal Kesari</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/swaraj-pal-kesari-4b39311b3/"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/swarajpalkesari/"><i class="fab fa-facebook"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- <h3>Vice President</h3> -->
                        <div class="box">
                            <img src="./images/our-team/manav.jpeg" alt="Manav Sanghi" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Manav Sanghi</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/manav-sanghi-3a355b198"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/manav.sanghi"><i class="fab fa-facebook"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- outreachHead -->
            <div class="Heads">
                <div>
                    <h3 class="heading-adi">Collaboration & Outreach Co-Heads</h3>
                </div>
                <div class="heads">
                    <div>
                        <div class="box">
                            <img src="./images/our-team/Teresa.jpg" alt="Teresa Louis" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Teresa Louis</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/teresa-louis"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/teresa.louis1"><i class="fab fa-facebook"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- <h3>Vice President</h3> -->
                        <div class="box">
                            <img src="./images/our-team/Nihar.jpeg" alt="Nihar Jyoti Basistha" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Nihar Jyoti Basistha</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/nihar-jyoti-basisth-121b2319b"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/nihar.basisth.7"><i class="fab fa-facebook"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rows">
            <!-- executiveHead -->
            <div class="Heads">
                <div>
                    <h3 class="heading-adi">Event Management Co-Heads</h3>
                </div>
                <div class="heads">
                    <div>
                        <div class="box">
                            <img src="./images/our-team/Abhishek.png" alt="Abhishek Bharadwaz" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Abhishek Bharadwaz</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/abhishek-bharadwaz-458993192"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/bharadwaz.abhishek"><i class="fab fa-facebook"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- <h3>Vice President</h3> -->

                        <div class="box">
                            <img src="./images/our-team/Abhinav.jpg" alt="Abhinav Kumar Gupta" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Abhinav Kumar Gupta</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/abhinav-gupta-8512bb239/"><i class="fab fa-linkedin-in"></i
                    ></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/profile.php?id=100003660467689"><i class="fab fa-facebook"></i
                    ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- outreachHead -->
            <div class="Heads">
                <div>
                    <h3 class="heading-adi">Publicity & Marketing Co-Heads</h3>
                </div>
                <div class="heads">
                    <div>
                        <!-- <h3>Vice President</h3> -->
                        <div class="box">
                            <img src="./images/our-team/Hemdutt Mishra .jpg" alt="Hem Dutt Mishra" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Hem Dutt Mishra</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/hem-dutt-mishra-2bbb4a1b5"><i class="fab fa-linkedin-in"></i
                    ></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/profile.php?id=100037969845038"><i class="fab fa-facebook"></i
                    ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <!-- <h3>Vice President</h3> -->
                        <div class="box">
                            <img src="./images/our-team/Amalendu.jpg" alt="Amalendu Kumar" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Amalendu Kumar</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/amalendu-singh-9b4a99195"><i class="fab fa-linkedin-in"></i
                    ></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/amalenduKumarSingh"><i class="fab fa-facebook"></i
                    ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rows">
            <!-- executiveHead -->
            <div class="Heads">
                <div>
                    <h3 class="heading-adi">Content Co-Heads</h3>
                </div>
                <div class="heads">
                    <div>
                        <!-- <h3>Vice President</h3> -->
                        <div class="box">
                            <img src="./images/our-team/Tejaswini_AVSV.jpeg" alt="Tejaswini AVSV" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Tejaswini AVSV</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/tejaswiniavsv/"><i class="fab fa-linkedin-in"></i
                    ></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/Tejaswini.AVSV"><i class="fab fa-facebook"></i
                    ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <!-- <h3>Vice President</h3> -->
                        <div class="box">
                            <img src="./images/our-team/Sai Lahari.webp" alt="Sai Lahari" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Sai Lahari</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/sai-lahari-jayareddygari-57681a196"><i class="fab fa-linkedin-in"></i
                    ></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/profile.php?id=100006209748653"><i class="fab fa-facebook"></i
                    ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- outreachHead -->
            <div class="Heads">
                <div>
                    <h3 class="heading-adi">Design Co-Heads</h3>
                </div>
                <div class="heads">
                    <div>
                        <!-- <h3>Vice President</h3> -->
                        <div class="box">
                            <img src="./images/our-team/SohanPaul.jpg" alt="Sohan Paul" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Sohan Paul</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/sohan-paul/"><i class="fab fa-linkedin-in"></i
                    ></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/paulsohan2"><i class="fab fa-facebook"></i
                    ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="box">
                            <img src="./images/our-team/Debanga.jpeg" alt="Debanga Choudhury" />
                            <div class="box-content">
                                <div class="content">
                                    <h3 class="title">Debanga Choudhury</h3>
                                    <ul class="social">
                                        <li>
                                            <a href="https://www.linkedin.com/in/debanga-choudhury-3b6b131b6"><i class="fab fa-linkedin-in"></i
                    ></a>
                                        </li>
                                        <li>
                                            <a href="https://www.facebook.com/debanga.choudhury"><i class="fab fa-facebook"></i
                    ></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="President_div">
        <!-- President -->
        <div>
            <h3 class="heading-adi">Technical Head</h3>

            <div class="box">
                <img src="./images/our-team/Aadi2.jpg" alt="Aadi Verma" />
                <div class="box-content">
                    <div class="content">
                        <h3 class="title">Aadi Verma</h3>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/aadi-verma-429453199"><i class="fab fa-linkedin-in"></i
              ></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/aadi.verma.96780671"><i class="fab fa-facebook"></i
              ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Vice President -->
        <div>
            <h3 class="heading-adi">Trader's Club Head</h3>

            <div class="box">
                <img src="./images/our-team/Arkadeep.jpg" alt="Arkadeep Kashyap" />
                <div class="box-content">
                    <div class="content">
                        <h3 class="title">Arkadeep Kashyap</h3>
                        <ul class="social">
                            <li>
                                <a href="https://www.linkedin.com/in/kashyaparka"><i class="fab fa-linkedin-in"></i
              ></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/arko.kashyap"><i class="fab fa-facebook"></i
              ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>