<!-- For developer -->
<h5 class="heading">Developer Member</h5>
<div class="row">
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/Sakshi.jpg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Sakshi Garg</h5>
            </div>

            <ul class="icon">
                <li>
                    <a href="https://github.com/Sakshiagarwaal"><i class="fab fa-github" style="color: black"></i
      ></a>
                </li>
               
                <li>
                    <a href="https://www.linkedin.com/in/sakshi-garg-95563a215"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/ManashPratimPathak.jpg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Manash Pratim Pathak</h5>
            </div>

            <ul class="icon">
                <li>
                    <a href="https://github.com/ManashPratimPathak"><i class="fab fa-github" style="color: black"></i
      ></a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/manash-pratim-pathak-6039b81b6/"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/Aditya.jpg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Aditya Kumar</h5>
            </div>

            <ul class="icon">
                <li>
                    <a href="https://github.com/adityacsenits021" target="_blank"><i class="fab fa-github" style="color: black"></i
      ></a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/aditya-kumar-9208a5205"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/Doneela.jpeg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Doneela Das</h5>
            </div>

            <ul class="icon">
                <li>
                    <a href="https://github.com/doneela"><i class="fab fa-github" style="color: black"></i
      ></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/ddas7"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/Alok.jpg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Alok Purbey</h5>
            </div>

            <ul class="icon">
                <li>
                    <a href="https://github.com/AlokPurbey"><i class="fab fa-github" style="color: black"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/alok-purbey-61408a21b/"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/Hannan2.jpeg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Hannan Afridi</h5>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://github.com/afridihannan"><i class="fab fa-github" style="color: black"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/hannan-afridi-39ab0b203/"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/rajak2.jpeg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Rajak Aly</h5>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://github.com/RajakAly"><i class="fab fa-github" style="color: black"></i
      ></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/rajak-ali-16ab77202"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/Rituraj.jpg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Rituraj Chanda</h5>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://github.com/Rituraj600"><i class="fab fa-github" style="color: black"></i
      ></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/rituraj-chanda-59055a20a"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
            <div class="container-img" style="background-image: url(./images/our-team/MAINUR.jpg)"></div>
            <span class="bar_1"></span>
            <div class="name">
                <h5>Mainur Islam Ahmed</h5>
            </div>
            <ul class="icon">
                <li>
                    <a href="https://github.com/MAINUR2001"><i class="fab fa-github" style="color: black"></i
      ></a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/mainur-islam-ahmed-613ab21ba"><i
          class="fa fa-linkedin-square"
          style="color: black"
          aria-hidden="true"
        ></i
      ></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>