<div id="faculty" class="f ecellteam">
    <div class="Faculty">
        <div class="faculty_member">
            <div class="memberImage">
                <img src="./images/our-team/Director.jpg" alt="PROF. SIVAJI BANDYOPADHYAY">
            </div>
            <div class="name">
                <h3>PROF. SIVAJI BANDYOPADHYAY</h3>
                <h4>Director, NIT Silchar</h4>
            </div>
        </div>

        <div class="faculty_member">
            <div class="memberImage">
                <img src="./images/our-team/WasimArifSir.jpg" alt="DR. WASIM ARIF">
            </div>
            <div class="name">
                <h3>DR. WASIM ARIF</h3>
                <h4>Faculty Advisor, E-CELL NIT Silchar</h4>
            </div>
        </div>
    </div>
</div>