<div class="container-our-team">
    <div class="header" id="ourteam-top">
        <div class="img-wrapper">
            <div class="box-our-team">
                <div class="boxa">
                    <div class="box1"><img class="img1" src="./images/our-team/alumni-1.jpeg"></img>
                    </div>
                    <div class="box2"><img class="img2" src="./images/our-team/alumni-2.jpg"></img>
                    </div>
                    <div class="box3"><img class="img3" src="./images/our-team/alumni-3.jpg"></img>
                    </div>
                    <div class="box4"><img class="img4" src="./images/our-team/alumni-4.jpg"></img>
                    </div>
                    <div class="box5"><img class="img5" src="./images/our-team/alumni-5.jpg"></img>
                    </div>
                </div>

                <div class="boxb">
                    <div class="box6"><img class="img6" src="./images/our-team/alumni-6.jpg"></img>
                    </div>
                    <div class="box7"><img class="img7" src="./images/our-team/alumni-7.jpg"></img>
                    </div>
                    <div class="box8"><img class="img8" src="./images/our-team/alumni-8.jpg"></img>
                    </div>
                    <div class="box9"><img class="img9" src="./images/our-team/alumni-9.jpg"></img>
                    </div>
                    <div class="box10"><img class="img10" src="./images/our-team/alumni-10.jpg"></img>
                    </div>
                </div>
            </div>
            <div class="banner-our-team">
                <h1>THE TEAM</h1>
                <p>E-CELL NIT SILCHAR</p>
                <p>2021-22</p>
                <a href="#faculty"><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
    </div>