  
        <!-- My part -->
        <div id="developers" class="ecellteam" style="display: none">

            <!-- For senior developer -->
            <h5 class="heading">Senior Developer</h5>
            <div class="row">
                <div class="card">
                    <div class="container">
                        <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
                        <div class="container-img" style="background-image: url(./images/our-team/Aadi2.jpg)"></div>
                        <span class="bar_1"></span>
                        <div class="name">
                            <h5>Aadi Verma</h5>
                        </div>

                        <ul class="icon">
                            <li>
                                <a href="https://github.com/Aadi2509 "><i class="fab fa-github" style="color: black"></i
                  ></a>
                            </li>
                           
                            <li>
                                <a href="https://www.linkedin.com/in/aadi-verma-429453199/"><i
                      class="fa fa-linkedin-square"
                      style="color: black"
                      aria-hidden="true"
                    ></i
                  ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
                        <div class="container-img" style="background-image: url(./images/our-team/Nandan.jpg)"></div>
                        <span class="bar_1"></span>
                        <div class="name">
                            <h5>Nandan Kumar</h5>
                        </div>

                        <ul class="icon">
                            <li>
                                <a href="https://github.com/nandan-shah"><i class="fab fa-github" style="color: black"></i
                  ></a>
                            </li>
                           
                            <li>
                                <a href="https://www.linkedin.com/in/nan-dan/"><i
                      class="fa fa-linkedin-square"
                      style="color: black"
                      aria-hidden="true"
                    ></i
                  ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
                        <div class="container-img" style="background-image: url(./images/our-team/Ichan_Kabir.jpg)"></div>
                        <span class="bar_1"></span>
                        <div class="name">
                            <h5>Ichan Kabir</h5>
                        </div>

                        <ul class="icon">
                            <li>
                                <a href="https://github.com/ikabir21"><i class="fab fa-github" style="color: black"></i
                  ></a>
                            </li>
                           
                            <li>
                                <a href="https://linkedin.com/in/ikabir"><i
                      class="fa fa-linkedin-square"
                      style="color: black"
                      aria-hidden="true"
                    ></i
                  ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
                        <div class="container-img" style="background-image: url(./images/our-team/jitul.jpeg)"></div>
                        <span class="bar_1"></span>
                        <div class="name">
                            <h5>Jitul Teron</h5>
                        </div>

                        <ul class="icon">
                            <li>
                                <a href="https://github.com/Jitulteron7"><i class="fab fa-github" style="color: black"></i
                  ></a>
                            </li>
                            
                            <li>
                                <a href="https://www.linkedin.com/in/jitul-teron/"><i
                      class="fa fa-linkedin-square"
                      style="color: black"
                      aria-hidden="true"
                    ></i
                  ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
                        <div class="container-img" style="background-image: url(./images/our-team/Azad_Ali.jpg)"></div>
                        <span class="bar_1"></span>
                        <div class="name">
                            <h5>Azad Ali</h5>
                        </div>

                        <ul class="icon">
                            <li>
                                <a href="https://github.com/azad-ali786"><i class="fab fa-github" style="color: black"></i
                  ></a>
                            </li>
                           
                            <li>
                                <a href="https://www.linkedin.com/in/azad-ali-49274a1a0/"><i
                      class="fa fa-linkedin-square"
                      style="color: black"
                      aria-hidden="true"
                    ></i
                  ></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="container">
                        <div class="container-bg-img" style="background-color: rgb(31,49,59);"></div>
                        <div class="container-img" style="background-image: url(./images/our-team/SohanPaul.jpg)"></div>
                        <span class="bar_1"></span>
                        <div class="name">
                            <h5>Sohan Paul</h5>
                        </div>

                        <ul class="icon">
                            <li>
                                <a href="#home"><i class="fab fa-github" style="color: black"></i
                  ></a>
                            </li>
                            
                            <li>
                                <a href="#home"><i
                      class="fa fa-linkedin-square"
                      style="color: black"
                      aria-hidden="true"
                    ></i
                  ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>