<h3 class="heading meet-team" style="font-size: 3rem;">Meet Our Team</h3>
<!-- For senior head -->
<div class="banner_head">
    <div class="Banner_navbar">
        <span class="active_bar" onclick="openTab('faculty')">Faculty Members</span>
        <span onclick="openTab('core')">Core Team</span>
        <span onclick="openTab('developers')">Developers</span>
    </div>
</div>