
.core-container {
   margin: 5% 7%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   gap: 2rem;
   justify-content: center;
 }
 .core-mem {
   
   background-color: white;
height: 25rem;
width: 20rem;
left: 1.25rem;
top: 1.25rem;
border-radius: 8px;
gap: 0.75rem;
border: 0.5px solid #9A9494;
box-sizing: border-box;
box-shadow: -4px -4px 12px 0px #F2F2F240;
box-shadow: 4px 4px 12px 0px #4F4F4F33;
overflow: hidden;
transition: all 350ms ease;
margin-bottom: 20px;
 }

 
 .core_heading {
   width: 100%;
   margin: 0;
   text-align: center;
   color: white;
   font-family: Elianto, sans-serif;
 }
 
 .core-images {
   display: flex;
   justify-content: center;
   align-items: center;
   object-fit: cover;
 }
 .core-images img {
   width: 100%;
   height: 21rem;
   top: 0px;
   transition: all 350ms ease;
   vertical-align: middle;
   object-fit: cover;
 }
 .core-mem:hover .core-images img {
   margin-top: 1rem;
   height: 15rem;
   width: 15rem;
   border-radius: 50%;
 }
 .core-title {
   font-family: Barlow Condensed;
   font-size: 2.25rem;
   font-style: italic;
   font-weight: 600;
   line-height: 2.7rem;
   letter-spacing: 0em; 
   text-align: center;
   margin-top: 0.5rem;
 }
 .core_mem_text {
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
   transition: all 350ms ease;
 }
 .core-mem:hover .core_mem_text {
   
   visibility: visible;
   border-radius: nullpx;
   font-family: Barlow Condensed;
   font-size: 1.5rem;
   font-weight: 400;
   line-height: 1.2rem;
   letter-spacing: 0em;
   text-align: center;
   margin: 1rem;
 }
 .body {
   width: 100%;
 }
.social-media-core {
   visibility: hidden;
   
 }
 
 .core-mem:hover .social-media-core {
   visibility: visible;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   gap: 2.5rem;
 
 }
.SocialLogoCore {
   color: #232323 !important;
   top: 0px;
   border-radius: 0px;
   position: relative;
   align-items: center;
   gap: 0.75rem;
 }
.SocialLogoCore svg {
   color: #232323 !important;
   padding: 0.2rem;
 }
 @media only screen and (max-width: 1200px) {
   .core-container {
     overflow: hidden;
     gap: 0.3rem;
   }
   .core-mem {
     height: 22rem;
     width: 17rem;
     transition-duration: 0.3 sec;
   }
   .core-images img {
     width: 100%;
     height: 17rem;
   }
   .core-mem:hover .core-images img {
     height: 12rem;
     width: 12rem;
     margin-top: 0.5rem;
   }
   .core-title {
     font-size: 1.9rem;
   }
 }
 @media only screen and (max-width: 975px) {
   .core-container {
     gap: 0.5rem;
   }
   .core-mem {
     height: 18rem;
     width: 13rem;
     transition-duration: 0.3 sec;
   }
   .core-images img {
     width: 100%;
     height: 14rem;
   }
 
   .core-mem:hover .core-images img {
     height: 10rem;
     width: 10rem;
   }
   .core-title{
      font-size: 1.5rem;
      line-height: 2rem;
   }
   .core-mem:hover .core_mem_text {
      font-size: 1.1rem;
      line-height: 0.11rem;
      }
   .core-mem:hover .social-media-core {
      gap: 2.1rem;
    }
   
   .SocialLogoCore svg {
      padding: 0.4rem;
    }
 }
 @media only screen and (max-width: 750px) {
   .core-container {
     margin: 5% 3%;
   }
 }
 @media only screen and (max-width: 685px) {
   .core-mem {
     height: 20rem;
     width: 15rem;
   }
   .core-images img {
     height: 16rem;
   }
 
   .core-mem:hover .core-images img {
     height: 11rem;
     width: 11rem;
   }
   .core-title{
      font-size: 1.5rem;
   }
   .core-mem:hover .core_mem_text {
      font-size: 1.3rem;
      line-height: 0.5rem;
      }
   .core-mem:hover .social-media-core {
      gap: 2.1rem;
    }
   
   .SocialLogoCore svg {
      padding: 0.4rem;
    }
 }
 @media only screen and (max-width: 525px) {
   .core-mem {
     height: 18rem;
     width: 13rem;
   }
   .core-images img {
     height: 14.3rem;
   }
 
   .core-mem:hover .core-images img {
     height: 9rem;
     width: 9rem;
   }
   .core-title{
      font-size: 1.5rem;
   }
   .core-mem:hover .core_mem_text {
      font-size: 1.1rem;
      line-height: 0.5rem;
      }
   .core-mem:hover .social-media-core {
      gap: 1.8rem;
    }
   
   .SocialLogoCore svg {
      padding: 0.4rem;
    }
 }
 @media only screen and (max-width: 460px) {
   .core-mem {
     height: 14rem;
     width: 10rem;
   }
   .core-images img {
     height: 10.8rem;
   }
   .core-mem:hover .core-images img {
      height: 7rem;
      width: 7rem;
    }
  
  
   .core-title{
      font-size: 1.17rem;
      font-family: Barlow Condensed;
  
   font-style: italic;
   font-weight: 600;
   line-height: 1.5rem;
   
   }
   .core-mem:hover .core_mem_text {
      font-size: 0.8rem;
      line-height: 0.1rem;
      }
   .core-mem:hover .social-media-core {
      gap: 0.6rem;
    }
   
   .SocialLogoCore svg {
      padding: 0.6rem;
    }
 }
/* .core-container{
   margin: 5% 7%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.core-mem {
background-color: white;
height: 25rem;
width: 20rem;
left: 1.25rem;
top: 1.25rem;
border-radius: 8px;
gap: 0.75rem;
border: 0.5px solid #9A9494;
box-sizing: border-box;
box-shadow: -4px -4px 12px 0px #F2F2F240;
box-shadow: 4px 4px 12px 0px #4F4F4F33;
overflow: hidden;
transition: all 350ms ease;
margin-bottom: 20px;

}




.core-mem:hover .core-images img{
margin-top: 1rem;
height: 15rem;
width: 15rem;

border-radius: 50%;

}

.core-images{
   
   display: flex;
   justify-content: center;
   align-items: center;
}

.core-images img{
   width: 100%;
   height: 21rem;
   top: 0px;
   transition: all 350ms ease-in;
   vertical-align: middle;
   object-fit: cover;

}

.core_mem_text{
   display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: all 350ms ease;
  
   
}

.core-mem:hover .core_mem_text{
visibility: visible;
border-radius: nullpx;
font-family: Barlow Condensed;
font-size: 1.5rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0em;
text-align: center;
margin: 1rem;

}
 

.body{
   width: 100%;
}

.core-title{
font-family: Barlow Condensed;
font-size: 2.25rem;
font-style: italic;
font-weight: 600;
line-height: 2.7rem;
letter-spacing: 0em;
text-align: center;
margin-top: 0.5rem;
}

.social-media{
   visibility: hidden;
   
   
}

.core-mem:hover .social-media{
   visibility: visible;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin: auto;

}

.SocialLogoCore{
   color:  #232323 !important;
   
   top: 0px;
   border-radius: 0px;
   position: relative;
   align-items: center;
   gap: 0.75rem;
   

   
}

.SocialLogoCore svg{
   color: #232323 !important;
   padding: 0.2rem;
}

.core_heading h1{
   border-style: none;
   text-align: center;
   font-size: 4rem;
   margin: 2rem;
}

@media only screen and (max-width:660px) and (min-width:407px) {
  .core-container{
     overflow: hidden;
  }
  .core_heading h1{
     font-size: 2.5rem;
      text-align: center;  
      }

  .core-mem{
     height: 16rem;
     width: 11rem;
     transition-duration: 0.3 sec;
  }

  .core-images img{
     width: 11rem;
     height: 13rem;
     vertical-align: middle;
   object-fit: cover;
  }
  .core-mem:hover .core-images img{
     height: 150px;
     width: 150px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
     transition: all 350ms ease;
  }
  .core-title{
     font-size: 20px;
  }
 
  .core_mem_text{
     font-size: 2rem;
  }

  .core-mem:hover .core_mem_text{
     font-size: 15px;
     margin-top: -18px;
  }

  .social-media{
     position: relative;
     right: 120px;
     bottom: 19px;
  }
  
 .SocialLogoCoreCore svg{
  width: 1.4rem;
  }

 .SocialLogoCoreCore{
     margin: 13px;
  }
}
@media only screen and (max-width:407px){
   .core-container{
      overflow: hidden;
   }
   .core_heading h1{
      font-size: 2.4rem;
       text-align: center;  
       }
 
   .core-mem{
      height: 15rem;
      width: 10rem;
      transition-duration: 0.3 sec;
   }
 
   .core-images img{
      width: 11rem;
      height: 12rem;
      vertical-align: middle;
      object-fit: cover;
   }
   .core-mem:hover .core-images img{
      height: 8rem;
      width: 8rem;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      transition: all 350ms ease;
   }
   .core-title{
      font-size: 1.1rem;
   }
  
   .core_mem_text{
      font-size: 2rem;
   }
 
   .core-mem:hover .core_mem_text{
      font-size: 15px;
      margin-top: -18px;
   }
 
   .social-media{
      position: relative;
      right: 120px;
      bottom: 19px;
   }
   
  .SocialLogoCoreCore svg{
   width: 1.4rem;
   }
 
  .SocialLogoCoreCore{
      margin: 13px;
   }
}

@media only screen and (max-width:1200px) and (min-width:661px){
  .core_heading h1{
     font-size: 3.5rem;
  }
  .core-mem{
     height: 22rem;
     width: 19rem;
  }

  .core-images img{
     width: 19rem;
     height: 19rem;
  }

  .core-mem:hover .core-images img{
     height: 12rem;
     width: 12rem;
  }

  .core_mem_text{
     font-size: 2rem;
  }

  .core-mem:hover .core_mem_text{
     font-size: 20px;
     margin-bottom: 0rem;
  }

  .social-media{
     position: relative;
     right: 40px;
     margin-top: 1rem;
  }
 .SocialLogoCoreCore svg{
     width: 2rem;
     }
  
} */

