
.container{
   margin: 5% 7%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.core-mem {
background-color: white;
height: 31.75rem;
width: 24rem;
left: 1.25rem;
top: 1.25rem;
border-radius: 8px;
gap: 0.75rem;
border: 0.5px solid #9A9494;
box-sizing: border-box;
box-shadow: -4px -4px 12px 0px #F2F2F240;
box-shadow: 4px 4px 12px 0px #4F4F4F33;
overflow: hidden;
transition: all 350ms ease;

}




.core-mem:hover .core-images img{
margin-top: 2rem;
height: 21rem;
width: 21rem;
left: 1.4rem;
top: 1.4rem;
border-radius: 50%;

}

.core-images{
   display: flex;
   justify-content: center;
   align-items: center;
}

.core-images img{
   width: 100%;
   height: 28rem;
   top: 0px;
   transition: all 350ms ease-in;
}

.core_mem_text{
   display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  
   
}

.core-mem:hover .core_mem_text{
visibility: visible;
border-radius: nullpx;
font-family: Barlow Condensed;
font-size: 1.25rem;
font-weight: 400;
line-height: 1.5rem;
letter-spacing: 0em;
text-align: center;

}
 

.body{
   width: 100%;
}

.core-title{
font-family: Barlow Condensed;
font-size: 2.25rem;
font-style: italic;
font-weight: 600;
line-height: 2.7rem;
letter-spacing: 0em;
text-align: center;
}

.social-media{
   visibility: hidden;
   
   
}

.core-mem:hover .social-media{
   visibility: visible;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 2.5rem;
   height: 2.5rem;

}

.SocialLogo{
   color:  #232323 !important;
   height: 1.9rem; 
    width: 1.9rem;
   left: 12rem;
   top: 0px;
   border-radius: 0px;
   position: relative;
   align-items: center;
   gap: 0.75rem;
   padding: 0;
   margin-top: 0;
   margin-right:2.50rem;
   margin-bottom: 1rem;

   
}

.core_heading h1{
   border-style: none;
   text-align: center;
   font-size: 4rem;
   margin: 2rem;
}
@media only screen and (max-width:660px) {
  .container{
     overflow: hidden;
  }
  .core_heading h1{
     font-size: 2.5rem;
      text-align: center;  
      }

  .core-mem{
     height: 16rem;
     width: 11rem;
     transition-duration: 0.3 sec;
  }

  .core-images img{
     width: 11rem;
     height: 13rem;
  }
  .core-mem:hover .core-images img{
     height: 150px;
     width: 150px;
     margin-left: 10px;
     margin-right: 10px;
     margin-top: 10px;
     transition: all 350ms ease;
  }
  .core-title{
     font-size: 20px;
  }
 
  .core_mem_text{
     font-size: 2rem;
  }

  .core-mem:hover .core_mem_text{
     font-size: 15px;
     margin-top: -18px;
  }

  .social-media{
     position: relative;
     right: 120px;
     bottom: 19px;
  }
  
  .SocialLogo svg{
  width: 1.4rem;
  }

  .SocialLogo{
     margin: 13px;
  }
}

@media only screen and (max-width:1200px) and (min-width:661px){
  .core_heading h1{
     font-size: 3.5rem;
  }
  .core-mem{
     height: 26rem;
     width: 19rem;
  }

  .core-images img{
     width: 19rem;
     height: 22rem;
  }

  .core-mem:hover .core-images img{
     height: 250px;
     width: 250px;
  }

  .core_mem_text{
     font-size: 2rem;
  }

  .core-mem:hover .core_mem_text{
     font-size: 20px;
     margin-bottom: 0rem;
  }

  .social-media{
     position: relative;
     right: 40px;
     margin-top: 1rem;
  }
  .SocialLogo svg{
     width: 2rem;
     }
  
}

/* @media only screen and (max-width: 1200px) {
   .container {
     overflow: hidden;
     gap: 0.3rem;
   }
   .core-mem {
     height: 22rem;
     width: 17rem;
     transition-duration: 0.3 sec;
   }
   .core-images img {
     width: 100%;
     height: 19rem;
   }
   .core-mem:hover .core-images img {
     height: 12rem;
     width: 12rem;
     margin-top: 0.5rem;
   }
   .core-title {
     font-size: 1.5rem;
   }
   .core-mem:hover .social-media{
      width: 0.5rem;
      height: 2.5rem;
   
   }
 }
 @media only screen and (max-width: 975px) {
   .container {
     gap: 0.5rem;
   }
   .core-mem {
     height: 18rem;
     width: 13rem;
     transition-duration: 0.3 sec;
   }
   .core-images img {
     width: 100%;
     height: 15rem;
   }
 
   .core-mem:hover .core-images img {
     height: 9rem;
     width: 9rem;
   }

   .core-title{
      font-size: 1.4rem;
      }
   .core_mem_text{
     
      padding-bottom: 0.5rem;
      font-size: 0.9rem;
   }
   .core-mem:hover .social-media{
      width: 0rem;
      height: 0rem;
   
   }
   .SocialLogo svg{
      width: 1.5rem;
   }
   .SocialLogo{
      
      height: 1rem; 
       width: 1rem;
      left: 9.9rem;
      
   
      
   }
 }
 @media only screen and (max-width: 750px) {
   .container {
     margin: 5% 3%;
   }
   .core-title{
      font-size: 1.4rem;
      }
 }
 @media only screen and (max-width: 661px) {
   .core-mem {
     height: 20rem;
     width: 15rem;
   }
   .core-images img {
     height: 17rem;
   }
 
   .core-mem:hover .core-images img {
     height: 10rem;
     width: 10rem;
   } 
   
   .core-title{
      font-size: 1.4rem;
      }
      .core-mem:hover .social-media{
         width: 13rem;
         height: 1rem;
         padding-top: 2rem;
      
      }
      .SocialLogo svg{
         width: 1.5rem;
      }
      .SocialLogo{
         
         height: 1rem; 
          width: 1rem;
         left: 9.9rem;
         
      
         
      }
  
     
 }
 @media only screen and (max-width: 525px) {
   .core-mem {
     height: 18rem;
     width: 13rem;
   }
   .core-images img {
     height: 15rem;
   }
 
   .core-mem:hover .core-images img {
     height: 7rem;
     width: 7rem;
   }
   
   .core-title{
      font-size: 1.4rem;
      }
      .core-mem:hover .social-media{
        width: 11rem;
        height: 1rem;
        padding-top: 2rem;
     
     }
      .SocialLogo{
         
         height: 1rem; 
          width: 1rem;
         left: 9.9rem;
     
      }
      .core-mem:hover .core-images img {
        height: 9rem;
        width: 9rem;
      }
 }
 @media only screen and (max-width: 460px) {
   .core-mem {
     height: 14rem;
     width: 10rem;
   }
   .core-images img {
     height: 11.5rem;
   }
   .core-title {
     font-size: 1rem;
     font-weight: 600;
     line-height: 1rem;
     margin-top: 0.5rem;
   }
   .core-mem:hover .core_mem_text {
     font-size: 0.8rem;
     font-weight: 500;
     line-height: 0.8rem;
     margin: 0.4rem;
   }
   .core-title{
      
      font-size: 1.1rem;
      }
      .SocialLogo svg{
         width: 1.1rem;
      }
      .core-mem:hover .social-media{
        width: 11rem;
        height: 0.5rem;
        padding-top: 2rem;
        gap: 1px;
       
     
     }
      .SocialLogo{
         
         height: 1rem; 
          width: 1rem;
         left: 8.5rem;
        
      }
      .core-mem:hover .core-images img {
        height: 7.5rem;
      }
}
 
  */