@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap");

.Item {
  /* Pillars of E-Cell */

  /* Auto layout */
  width: 32%;
  margin: 5% 0.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 46px;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame {
  transition: all 0.5s ease-in-out;
}

.frame:hover {
  transform: scale(1.01);
}

.rectangle {
  /* Rectangle 691 */
  position: relative;
  background-color: var(--box-bg-color);
  left: 0px;
  top: 0px;
  border-radius: 12px;
  border: 0.7px solid var(--border-color-grey-light);
  padding: 0 20px 20px;

  transition: all 0.5s ease-in-out;
}

.rectangle:hover {
  box-shadow: 8px 7px 18px var(--box-shadow-color-grey-light);
}

.triangle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid var(--box-shadow-color-grey-light);
}

.triangle::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  border-top: 19px solid var(--box-bg-color);
  position: absolute;
  transform: translateX(-50%) translateY(-106%);
}

.description_pillars {
  /* Content */
  margin: 20px 0;
  height: 330px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  /* Text Color */

  color: var(--light-text-color);

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.name_pillars {
  /* Content Bold */

  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  display: block;
  text-align: right;

  /* Dark Blue */

  color: var(--text-color-primary);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.designation_pillars {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  display: block;
  text-align: right;

  /* Medium Blue */

  color: var(--text-color-primary-light);

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.ellipse img {
  width: 176px;
  height: 176px;
  border: 0.5px solid var(--border-color-grey-light);
  border-radius: 100%;
}

@media only screen and (max-width: 1200px) {
  .Item {
    width: 48%;
    margin: 5% 1%;
  }

  .description_pillars {
    font-size: 22px;
    height: 275px;
  }
}

@media only screen and (max-width: 780px) {
  .Item {
    width: 80%;
    margin: 5% 10%;
  }

  .description_pillars {
    font-size: 20px;
    height: auto;
  }
  .name_pillars {
    height: 80px;
  }
}
