.offlinebanner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color-red);
  color: var(--text-color-white);
  padding: 0.625rem;
  text-align: center;
  z-index: 999;
}

.onlinebanner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color-green);
  color: var(--text-color-white);
  padding: 0.625rem;
  text-align: center;
  z-index: 999;
}
