.sub button {
  background-color: #224259;
  color: white;
}

.bro {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3d6e5;
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    padding: 2rem 0;
  }

  form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.box span {
  color: #fff;
  font-family: "Expletus Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box input {
  padding: 0rem 1rem;
  height: 2.2rem;
  align-items: center;
  border: none;
  border-radius: 1rem;
  width: 49vw;
  color: black;
  background: white;
}

textarea {
  padding: 0rem 1rem;
  height: 3.5rem;
  border: none;
  border-radius: 1rem;
  width: 49vw;
  color: black;
  background: white;
}

.sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  button {
    width: 10.768rem;
    height: 3.702rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--Dark-Blue, #224259);
    color: #fff;
    font-family: "Barlow Condensed";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
