*{
    font-family: 'Barlow Condensed', sans-serif;
}
.event_main{
    position: relative;
    z-index: 9;
}
.heading {
    text-align: center;
}

.heading h1 {
    display: inline-block;
    border-bottom: 2px solid rgb(10, 10, 70);
    color: rgb(10, 10, 70);
    width: 90%;
    letter-spacing: 0.5px;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.item-head{
    text-align: center;
    transform: translateY(2vh);
    position: relative;
    top: 20%;
    transition: all .5s ease-out;
}

.event_items {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.ev {
    width: 25%;
    min-height: 60vh;
    overflow: hidden;
    padding-bottom: 2rem;
    color: white;
}
.item1,
.item2,
.item3,
.item4 {
    display: flex;
    flex-direction: column;
    flex: 1;
    box-shadow: inset 0 0 0 1000px rgba(1, 51, 91, 0.7);
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease-out;

}

.item1 {
    background: url(../../../../src/assets/events/orientation.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item2 {
    background: url(../../../../src/assets/events/empreserrio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item3 {
    background: url(../../../../src/assets/events/srijan.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.item4 {
    background: url(../../../../src/assets/events/incubation.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.child {
    visibility: hidden;
    opacity: 0;
    transition:all .3s ease-out;
    transform: translateY(5vh);
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.5px;
}


.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover {
    cursor: pointer;
    width: 50%;
    transition: all 0.5s ease-out;
    padding: 0rem 5rem;

}

.ev:hover .item-head{
    top: 5%;
    transform: scale(1);
    transform: translateY(-3vh);
}
.ev:hover .child,
.ev:hover .child,
.ev:hover .child,
.ev:hover .child {
    visibility: visible;
    opacity: 1;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
}


@media only screen and (max-width: 1130px) {
    .event_items{
        flex-direction: column;
        visibility: visible;
    }
    .ev{
        width: 100%;
        min-height: 50vh;
        overflow: hidden;
    }
    .ev:hover .item-head{
        transform: scale(1);
        transform: translateY(-3vh);
    }

    .item1:hover, .item2:hover, .item3:hover, .item4:hover{
        width: 100%;
        padding: 1rem 1rem;
    }
    .item1,
    .item2,
    .item3,
    .item4 {
        width: 100%;
        box-sizing: border-box;
    }
    .child{
        transform: translateY(3vh);
        letter-spacing: 0.5px;
    }
}