.header-admin {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-color-primary);
  h1 {
    color: var(--text-color-white);
  }
}
