.header-admin{
    display: flex;
    /* position: absolute; */
    /* top: 0; */
    justify-content: center;
    width: 85vw;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #224259;
    h1{
        color: white;
    }
}
