.header-admin {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #224259;
  h1 {
    color: white;
  }
}
