.upcom-evnts-top {
  text-align: center;
  margin: 4vw 0 3vw 0;
}

.upcom-evnts-top h1 {
  font-size: 3vw;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
}

.upcomi-evvnts-parnt {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 88%;
  margin: 0 auto;
  margin-bottom: 5vw;
}

.upcomi-evvnts-parnt::-webkit-scrollbar {
  display: none;
}

.upcom-evnt-indi {
  width: 31%;
  flex: none;
  order: 1;
  margin-left: 1.1%;
  margin-right: 1.1%;
  margin-bottom: 2.1%;
  padding: 1vw;
  border: 1px solid var(--border-color-primary);
  border-radius: 1vw;
  box-shadow: 0 10px 20px var(--box-shadow-color-black-1),
    0 6px 6px var(--box-shadow-color-black-2);
}

.img-upcom-evnt {
  width: 100%;
  height: 25vw;
  margin: 0 auto;
}

.img-upcom-evnt img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.title-announc-upcom-evnt {
  margin: 0.7vw 0 0 0 !important;
}

.title-announc-upcom-evnt h1 {
  font-size: 1.7vw;
  margin-bottom: 0;
  color: var(--text-color-primary);
}

.btns-info-klp {
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.7vw 0;
}

.dte-locn-upcomi-event {
  margin: 0.5vw 0;
}

.dte-locn-upcomi-event h2 {
  color: var(--text-color-grey);
  font-weight: 400;
  font-size: 1.2vw;
  margin-bottom: 0;
}

.btns-1-ent-indi button {
  background-color: var(--bg-color-primary);
  color: var(--text-color-white);
  padding: 0vw 0.5vw;
  border-radius: 0.5vw;
  font-size: 1.2vw;
  border: none;
  margin: 0.2vw;
}
.abt-content-indi-evnt {
  overflow: auto;
  height: 15%;
}
.abt-content-indi-evnt::-webkit-scrollbar {
  width: 0px;
}
.abt-content-indi-evnt h3 {
  font-size: 1.3vw;
  color: var(--text-color-grey);
  margin-bottom: 0;
  font-weight: 400;
  overflow: auto;
}

@media only screen and (min-width: 660px) {
  .nmjkop {
    display: none;
  }

  .upcom-evnt-indi {
    height: 42vw !important;
  }
}

@media only screen and (max-width: 991px) {
  .btns-info-klp {
    width: 42%;
    margin: 0 0 0.7vw 0;
  }

  .btns-1-ent-indi button {
    background-color: var(--bg-color-primary);
    color: var(--text-color-white);
    padding: 0vw 0.8vw;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    border: none;
  }
}

@media only screen and (max-width: 660px) {
  .upcom-evnts-top {
    margin: 6vw 0;
  }

  .upcom-evnts-top h1 {
    font-size: 8vw;
  }

  .upcomi-evvnts-parnt {
    width: 100%;
    margin-bottom: 10vw;
  }

  .upcom-evnt-indi {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding: 2vw;
    border: 1px solid var(--border-color-primary);
    border-radius: 2vw;
  }

  .img-upcom-evnt {
    width: 100%;
    height: 70vw;
    margin: 0 auto;
  }

  .title-announc-upcom-evnt {
    margin: 2.5vw 0 1.7vw 0 !important;
  }

  .title-announc-upcom-evnt h1 {
    font-size: 6vw;
    margin-bottom: 0;
  }

  .dte-locn-upcomi-event {
    margin-bottom: 2vw;
  }

  .dte-locn-upcomi-event h2 {
    font-size: 3.5vw;
    margin-bottom: 0;
  }

  .btns-info-klp {
    width: 50%;
  }

  .btns-1-ent-indi button {
    background-color: var(--bg-color-primary);
    color: var(--text-color-white);
    padding: 0.5vw 3vw;
    border-radius: 1vw;
    font-size: 3vw;
  }

  .abt-content-indi-evnt {
    margin-top: 3vw;
  }

  .abt-content-indi-evnt h3 {
    font-size: 4vw;
  }
}
