<div id="all" class="image-gallery">
    <div class="gallery">
      <div class="imgage">
        <img src="./images/Gallery/1.png" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/10.png" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/img-1.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/img-5.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/phoo 5.png" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/img-6.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/img-7.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 3 (2).jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photO 2.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photO 1.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/phoo 2.png" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/phoo 1.png" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/phoo 4.png" />
      </div>
    </div>
  </div>