<!-- Banner part (sakshi start) -->
<div class="Banner" id="top">
    <div class="bg-img">
      <h5 class="photo">Photo</h5>
      <h5 class="gallery-banner">Gallery .</h5>
    </div>

    <div class="banner_head">
      <div class="Banner_navbar">
        <span class="active_bar" onclick="openTab('all')">All</span>
        <span onclick="openTab('popular')">Popular</span>
        <span onclick="openTab('srijan')">Srijan</span>
        <span onclick="openTab('empressario')">Empressario</span>
      </div>
    </div>
  </div>