<div id="empressario" class="image-gallery" style="display: none">
    <div class="gallery">
      <div class="imgage">
        <img src="./images/Gallery/photO 1.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/img1.jpeg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/img2.jpeg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/img3.jpeg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photO 2.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photO 3.jpg" />
      </div>
    </div>
  </div>