<div id="main" class="navbar">
    <ul>
      <li class="links">
        <a href="/">Home</a>
      </li>
      
      <li class="links">
        <a href="/#blur">Events</a>
      </li>
      
      <li class="links ">
        <a href="/ecell-team">Our Team</a>
      </li>
      <li class="image">
        <a href="#">
          <img
            class="img"
            src="./images/logo/ecell-logo.png"
            alt="image"
            srcset=""
          />
        </a>
      </li>
      <li class="links">
        <a href="https://srijan-nits.in" target="_blank">Srijan</a>
      </li>
      <li class="links underline">
        <a href="#">Gallery</a>
      </li>
     
      <li class="links">
        <a href="#contact">Contact Us</a>
      </li>
    </ul>
  
    <div class="hamburger">
      <div class="icon mobile">
        <a href="/">
          <img
            class="img"
            src="./images/logo/ecell-logo.png"
            alt="image"
            srcset=""
          />
        </a>
      </div>
      <div class="ham-bar">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
        </div>
    </div>