<div id="popular" class="image-gallery" style="display: none">
  <div class="gallery">
    <div class="imgage">
      <img src="./images/Gallery/img-1.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/photo.png" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/photo 4.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/photo 6.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/photo 5.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/photo 7.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/photo 3 (2).jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/E-Cell_Gallery.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/event highlight.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img-2.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img-5.jpg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img5.jpeg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img6.jpeg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img7.jpeg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img8.jpeg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img9.jpeg" />
    </div>
    <div class="imgage">
      <img src="./images/Gallery/img10.jpeg" />
    </div>
  </div>
</div>
