<div id="srijan" class="image-gallery" style="display: none">
    <div class="gallery">
      <div class="imgage">
        <img src="./images/Gallery/E-Cell_Gallery.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/event highlight.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 2 (1).jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 3 (2).jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 4.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 5.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 6.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 7.jpg" />
      </div>
      <div class="imgage">
        <img src="./images/Gallery/photo 8.jpg" />
      </div>
    </div>
  </div>