.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.profile {
  border: 1px solid var(--border-color-grey);
  border-radius: 10px;
  margin: 1rem;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.profile:hover {
  box-shadow: 4px 4px 4px 2px var(--box-shadow-color-black-1);
}

.name_faculties {
  text-align: center;
  font-size: 1.9rem;
  color: var(--text-color-primary);
}

.desg_faculties {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color-primary-light);
}

.img_faculties {
  width: 24vw;
  height: 24vw;
}

.img_faculties img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media only screen and (max-width: 836px) {
  .profile {
    width: 45%;
  }

  .img_faculties {
    width: 100%;
    height: 48vw;
  }
}

@media only screen and (max-width: 640px) {
  .profile {
    width: 40%;
  }

  .name_faculties {
    font-size: 1.5rem;
  }

  .desg_faculties {
    font-size: 0.8rem;
  }

  .img_faculties {
    width: 100%;
    height: 48vw;
  }
}
