.container{
   margin-top: 1rem;
   margin-bottom: 2rem;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
  gap: 2rem;
  justify-content: center;
  border-radius: 8px;
}

.sr-dev{
background-color: white;
height: 508px;
width: 384px;
left: 20px;
top: 20px;
border-radius: 8px;
gap: 12px;
border: 0.5px solid #9A9494;
box-sizing: border-box;
box-shadow: -4px -4px 12px 0px #F2F2F240;
box-shadow: 4px 4px 12px 0px #4F4F4F33;
transition: all 350ms ease;
overflow: hidden;
}

.sr-dev:hover .images-sr img{
object-fit: cover;
margin-top: 30px;
height: 336px;
width: 336px;
left: 24px;
top: 24px;
border-radius: 4px;
/* transition: all 350ms ease; */
}

.images-sr img{
object-fit: cover;
width: 100%;
height: 450px;
left: -34px;
top: 0px;
transition: all 350ms ease;
}

.dev_card_text{
visibility: hidden;
   transition: all 350ms ease;
}

.sr-dev:hover .dev_card_text{
visibility: visible;
border-radius: nullpx;
font-family: Barlow Condensed;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
 

.body{
   width: 100%;
}

.title{
font-family: Barlow Condensed;
font-size: 34px;
font-style: italic;
font-weight: 600;
line-height: 43px;
letter-spacing: 0em;
text-align: center;
}

.social-media{
   visibility: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 2.5rem;
   height: 2.5rem;
   transition: all 350ms ease;
}

.sr-dev:hover .social-media{
   visibility: visible;
}

.MediaLogo{
   color:  #232323 !important;
   height: 30px; 
    width: 30px;
   left: 190px;
   top: 0px;
   border-radius: 0px;
   position: relative;
   align-items: center;
   gap: 12px;
   padding: 0;
   margin-top: 0;
   margin-right: 2.50rem;
   margin-bottom: 1rem;
}
.sr_heading h1{
   border-style: none;
   text-align: center;
   font-size: 4rem;
   margin: 2rem;
}

@media only screen and (max-width:660px) {
   .container{
      overflow: hidden;
   }
   .sr_heading h1{
      font-size: 2.5rem;
      text-align: center;
   }
   .sr-dev{
      height: 240px;
      width: 152px;
      transition-duration: 0.3 sec;
   }

   .images-sr img{
      width: 152px;
      height: 200px;
   }

   .sr-dev:hover .images-sr img{
      height: 150px;
      width: 131px;
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      transition: all 350ms ease;
   }

   .title{
      font-size: 18px;
   }

   .sr-dev:hover .title{
      margin-top: -4px;
   }

   .sr-dev:hover .dev_card_text{
      font-size: 15px;
      margin-top: -22px;
   }

   .social-media{
      position: relative;
      right: 126px;
      bottom: 19px;
   }
   .MediaLogo svg{
      width: 1.3rem;
      }
   
   .MediaLogo{
   margin: 13px;
   }
}

@media only screen and (max-width:1200px) and (min-width:661px){
   .sr_heading h1{
      font-size: 3.5rem;
   }
   .sr-dev{
      height: 408px;
      width: 300px;
   }

   .images-sr img{
      width: 300px;
      height: 350px;
   }

   .sr-dev:hover .images-sr img{
      height: 250px;
      width: 250px;
   }

   .title{
      font-size: 2rem;
      margin-bottom: 0px;

   }

   .sr-dev:hover .dev_card_text{
      font-size: 25px;
      margin-bottom: 0rem ;
   }

   .social-media{
      position: relative;
      right: 40px;
      margin-top: 1rem;
   }
   .MediaLogo svg{
      width: 2.2rem;
      }
}
