.BlogsAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1rem 1rem;

    button {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      color: white;
      background-color: #2a5368;
      border-radius: 0.625rem;
      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }
    }
  }

  .blogContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    row-gap: 2rem;
  }
}
