.footer-section{
  background: url('FOOTER-Image.png');
  position: relative;
  background-size: cover;
  min-height: 35rem;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.fcontainer{
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
   flex-direction: row;
   padding-top: 2.5rem;
}

.container1{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    color: #FFFFFF;
    margin: 5rem;
    padding: auto;
}

.container2 ul{
  line-height: 3.4rem;
  margin-top: 2rem;
}

.container2{
   flex-grow: 6;
  margin: 3rem;
  color:  #FFFFFF; 
  padding: auto;

}

.no-bullets{
  list-style-type: none;
  padding-left: 0 !important;
  position: relative;
  top: -15px;
}

.container3{
 flex-grow: 1;
  color:  #FFFFFF;
  margin: 3rem;
}

.container4{
 flex-grow: 5;
 color:  #FFFFFF;
  margin: 3rem;
}

.container5{
  flex-grow: 2;
  color:  #FFFFFF;
  width: 100%;
  place-items: center;
  text-align: center;
  margin: 0 auto;
}

.container3 a{
  text-decoration: none;
}

.socialMediaLogo{
  color:  #FFFFFF;
  margin: 2rem;
  display: flex;
  margin-left: .0rem;
}

.i-text{
  margin-left: .5rem;
}
.socialMediaLogo{
  align-items: center;
}

.h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: Semibold;
  font-weight: 600;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.no-bullets, .p1,.p2, .socialMediaLogo{
font-family: 'Barlow Condensed', sans-serif;
font-style: regular;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
}

.container4 input{
  font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    left: 30px;
    width: 70%;
    position: relative;
    border-width: 0px;
}

.fill{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0.3rem;
  background-color: #FFFFFF;
  border-radius: 5rem;
  margin-top: 2rem;
  height: 0.1px;
  position: relative;
}

.send{
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  left: -15px;
  top: 1px;
  color: black;
}

.container4 input::placeholder{
  color:  black;
}

@media only screen and (max-width:638px) {
  .container1{
    margin-top: 25px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 25px;
  }
  .container2{
    margin-bottom: 0px;
   
  
  }
  .container3{
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .container4{
    margin-top: 0px;
    
    }
    .socialMediaLogo{
     margin-bottom: 0px;

    }
}

@media only screen and (max-width:1280px) and (min-width:661px){
  .fill{
    max-width: 40%;
  }
  .container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  #h{
    position: relative;
    right: 90px;  
  }
}