.footer-section{
  background: url('FOOTER-Image.png');
  position: relative;
  background-size: cover;
  min-height: 35rem;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.p2{
  margin-bottom: 0 !important;
}

.fcontainer{
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
   flex-direction: row;
   padding-top: 2.5rem;
}

.container1{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
    color: #FFFFFF;
    margin: 5rem;
    padding: auto;
    margin-top: 40px;
}

.container2 ul{
  line-height: 3.4rem;
  margin-top: 2rem;
}

.container2{
   flex-grow: 6;
  margin: 3rem;
  color:  #FFFFFF; 
  padding: auto;

}

.no-bullets{
  list-style-type: none;
  padding-left: 0 !important;
  position: relative;
  top: -15px;
}

.container3{
 flex-grow: 1;
  color:  #FFFFFF;
  margin: 3rem;
}

.container4{
 flex-grow: 5;
 color:  #FFFFFF;
  margin: 3rem;
}

.container5{
  flex-grow: 2;
  color:  #FFFFFF;
  width: 100%;
  place-items: center;
  text-align: center;
  margin: 0 auto;
}

.container3 a{
  text-decoration: none;
}

.footer_social_Logo{
  color:  #FFFFFF;
  margin: 2rem;
  display: flex;
  margin-left: .0rem;
  align-items: center;
}

.i-text{
  margin-left: .5rem;
}

.h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-style: Semibold;
  font-weight: 600;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.no-bullets, .p1,.p2, .footer_social_Logo{
font-family: 'Barlow Condensed', sans-serif;
font-style: regular;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
}

.container4 input{
  font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    left: 30px;
    width: 70%;
    position: relative;
    border-width: 0px;
}

.fill{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0.3rem;
  background-color: #FFFFFF;
  border-radius: 5rem;
  margin-top: 2rem;
  height: 0.1px;
  position: relative;
}

.send{
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  left: -15px;
  top: 1px;
  color: black;
}

.container4 input::placeholder{
  color:  black;
}

.f_icon{
  position: relative;
  bottom: 3px;
}




@media only screen and (max-width:1280px) and (min-width:661px){
 

  .container4{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  }

  .container3{
    flex-grow: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 80px;
  }

.footer_social_Logo{
  margin-bottom: 0 !important;
}

#link_ln{
  position: relative;
  right: 5px;
 }
 
 .h2{
  display:flex; 
  justify-content:center;
}
.p2{
  padding-bottom: 1rem;
}
}

@media only screen and (max-width:660px) {
  .fcontainer{
    padding-top: 0px;
  }
  .container2{
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .container3{
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
 #link_ln{
  position: relative;
  right: 5px;
 }
  .container4{
    margin-top: 40px;
    margin-right: 48  px;
    }

    .container5{
    padding: 0;
    padding-bottom: 0 !important;
    }

    .footer_social_Logo{
     margin-bottom: 0px;
    }

    .p2{
      padding-bottom: 1rem;
    }
    
    .h2{
      display:flex; 
      justify-content:center;
    }

    .p1{
      font-family: Barlow Condensed;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: center;
    }

    .fill{
      width: 100%;
    }

    .container1{
      margin-left: auto;
      margin-right: auto;
    }
}