.mainblogstarts{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.leftblogcontent{
    width: 75%;
}

.rightblogcontent{
    width: 25%;
    /* background-color: red; */
}

.btnsorting{
    display: flex;
    align-items: center;
}

.btnlatestoldest{
    margin-left: 3vw;
}

.sortkaro{
    font-size: 2.5vw;
    color: rgba(62, 97, 142, 1);
}

.btnlatestoldest button{
    background: none;
    outline: none;
    border: none;
    color: rgba(154, 148, 148, 1);
    font-size: 2.5vw;
    font-weight: 500;
}

.btnfiltertag{
    display: flex;
    flex-wrap: wrap;
}

.btnfiltertag button{
    background: none;
    outline: none;
    border: 1px solid grey;
    color: rgba(154, 148, 148, 1);
    font-size: 1.7vw;
    font-weight: 500;
    margin: 8vw 1vw 0 1vw;
    padding: .25vw;
    border-radius: 6.76px;
}

.activetagcolored.active{
    color: rgba(80, 80, 80, 1);
}

#moreold{
    margin-left: 1.5vw;
}

.newblogaddbtn{
    background-color: rgba(62, 97, 142, 1);
    border: none;
    outline: none;
    border-radius: 10.97px;
    color: white;
    font-size: 2.45vw;
    padding: .7vw 3.8vw;
   display: block;
   margin: 0 auto;
}

.mainparentblogindicard{
    margin-top: 5vw;
    display: flex;
    justify-content: space-between;
    /* align-items: first baseline; */
    flex-wrap: wrap;
}

.indicardblog{
    user-select: none;
    flex: none;
    order: 1;
    width: 45%;
    border: 1.5px solid rgba(80, 80, 80, 1);
    border-radius: 6.13px;
    padding: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.imgholdercontblog{
    width: 100%;
    height: 20vw;
}

.btnlatestoldest button.active {
    color: rgba(80, 80, 80, 1);
}

.imgholdercontblog img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.titlehainlogindi{
    color: rgba(34, 66, 89, 1);
    font-size: 2.25vw;
    font-weight: 600;
    margin: .5vw 0;
}

.whowrittenblog h2{
    color: rgba(80, 80, 80, 1);
    margin-bottom: 0;
    font-size: 1.7vw;
}

.whoholdsthetag{
    display: flex;
}

.whoholdsthetag button{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(80, 80, 80, 1);
    border: 1.9px solid grey;
    border-radius: 6.13px;
    font-size: 1.1vw;
    padding: .25vw;
    margin: 1vw 0;
}

.secondtaghlder{
    margin-left: 2vw !important;
}

.briefintrohldman{
    margin: 0vw 0 1vw 0;
}

.briefintrohldman p{
    color: rgba(80, 80, 80, 1);
}

.kretrhereading{
    background-color: rgba(62, 97, 142, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    border-radius: 5.05px;
    padding: .5vw 1vw;
}

#pblshbtn{
    margin-bottom: .35vw;
}