.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c3d6e5;
  border-radius: 1.5rem;
  width: 16rem;
  color: #3e618e;
  height: 20rem;
  padding: 1rem 2rem;
  h2 {
    text-align: center;
    color: #3e618e;
  }
  h4 {
    text-align: center;
  }
}
