.Applications {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .team_tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: sticky;
    top: 1rem;
    .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 1rem;
      .tab_item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        min-width: fit-content;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s;
        &:hover {
          background-color: #f5f5f5;
        }
        &.active {
          background-color: #f5f5f5;
        }
      }
    }
  }
  .applications {
    width: 90%;
    // height: 50%;
    .applications_container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0.5rem;
      height: 65vh;

      .application_item {
        display: flex;
        flex-direction: column;
        p {
          margin: 0.25rem;
          a {
            color: #1b83fa !important;
            font-weight: 600;
            cursor: pointer;
          }
        }
        border: 1px solid #1b83fa;
        padding: 1rem 0.5rem;
        border-radius: 1rem;
      }
    }
  }
}
