.error {
  height: 100vh;
  width: 100%;
  margin-right: 2rem;
  margin-top: 0;
}
.notfound-main {
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-white);
  min-height: 100vh;
  flex-direction: column;
}

.p-by {
  color: var(--text-color-primary);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 660px) {
  .p-by {
    font-size: 5vw;
  }
}
