.techContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-inline: auto;
  width: 90%;
  p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 50px;
  }
  ul {
    li {
      font-size: 1.5rem;
      font-weight: 400;
    }
    a {
      color: var(--text-color-primary) !important;
      font-weight: 500;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .techForm {
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-inline: auto;
      justify-content: center;
      align-items: center;
      .btn_container {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: fit-content;
        margin-top: 20px;
      }
      label {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 10px;
        width: 100%;
      }

      input {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 10px;
        margin-bottom: 20px;
      }
      select {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 400;
        padding: 10px;
        margin-bottom: 20px;
      }
      .required {
        color: var(--text-color-red);
      }
      button {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 5px;
        width: fit-content;
        background-color: var(--bg-color-primary);
        color: var(--text-color-grey-light);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: var(--bg-color-primary);
          color: var(--text-color-white);
          transform: scale(1.1);
        }
      }
      .email {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1rem;
        input {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}
