.collab {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  border-bottom: 3px solid var(--border-color-primary);
  padding: 3rem 0 0 0;
  margin-bottom: 3.5rem;
}

.collab h1 {
  font-size: 4.45vw;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--text-color-primary);
  font-weight: 900;
}

.ru-collab {
  width: 70%;
  height: 100%;
  filter: grayscale(1);
  transition: all 0.2s ease-out;
  padding-bottom: 1.5vh;
}

.btn:focus .ru-collab {
  filter: grayscale(0);
  border-bottom: 3.5px solid var(--border-color-primary);
  transform: translateY(-2vh);
}

.btn-junior {
  text-align: center;
  margin: 0 auto;
  /* margin-top: 2vh !important; */
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  /* margin-bottom: 2rem !important; */
  width: 90%;
  border-radius: 7px;
  display: flex;
  align-items: center;
  /* padding: 1rem 0; */
  color: var(--btn-color-black);
  position: relative;
  z-index: 9;
}

/* .slide-track-m:hover{
        animation-play-state: paused;
      }

      @keyframes scroll1 {
        0% {
            transform: translateX(0)
        }
        100%{
            transform: translateX(calc(-18% * 17))
        }
      } */

#tbn-indi-collab-po {
  width: 18%;
  flex: none;
  order: 1;
  /* height: 10vw; */
  flex: none;
  order: 1;
  margin-left: 1%;
  margin-right: 1%;
  /* perspective: 6.25rem; */
}

#btn-collab-indi-po {
  width: 90%;
  height: 100%;
  margin-left: auto;
  padding-top: 2vh;
  margin-right: auto;
}

.btn-junior::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}

.btn-junior button {
  margin: 0 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--btn-color-white);
  font-weight: 900;
}

.rupay-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685366025/Cubelelo_Logo_for_Light_Background_mpnanj.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
  /* background-color: rgb(11, 11, 62); */
}

.kwikpic-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685366405/Kwikpic_gu1ywv.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.ssstart-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685366545/Ecell%20website/collaboration%20backgrounds/S.S.Start_im4suh.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}
.unacademy-main {
  background: url("https://res.cloudinary.com/dnvhl9pru/image/upload/v1685772846/black_marble_bx1oo6.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.janta-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685368953/Ecell%20website/collaboration%20backgrounds/Janta-group_ddbgea.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.vedantu-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685365530/geeks_for_geeks_vqzx6g.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.payzaql-main {
  background: url("https://res.cloudinary.com/draptrzrc/image/upload/v1707558984/Payzaql.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.stockgro-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685365530/Stockgro_q6aqrf.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}
.cocacola-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685364813/Ecell%20website/collaboration%20backgrounds/truscholar_ftiiei.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.ieee-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685365641/assam_startup_ewttjk.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
  background-color: var(--bg-color-primary-dark);
}

.pnb-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685967885/Ecell%20website/EU_3tpTPR_p7frr0.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.lwt-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685364813/Ecell%20website/collaboration%20backgrounds/Travelling_while_learning_b45snu.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.ehub-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685365212/Engineer_hub_nkfq82.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}
.edtimes-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685354621/Ecell%20website/blog_bg_vbqias.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.finlatics-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685364813/Ecell%20website/collaboration%20backgrounds/Finlatics_sd9fth.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.ivy-main {
  background: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685364812/Ecell%20website/collaboration%20backgrounds/Ivy_camp_bvdulr.webp");
  position: relative;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  height: 90vh;
  opacity: 1;
  padding-top: 3rem;
}

.collab-content {
  background-color: var(--bg-color-white);
  padding: 1rem;
  max-width: 40%;
  border-radius: 5px;
  position: absolute;
  right: 8%;
}

.collab-content p {
  color: var(--text-color-grey);
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

.njkl021 {
  border-bottom: 3px solid var(--border-color-primary);
  transform: translateY(-2vh);
  transition: all 0.2s ease-out;
}

.njkl021 img {
  filter: grayscale(0);
}

.yenbg {
  background-image: url(https://res.cloudinary.com/dp92qug2f/image/upload/v1685366650/Ecell%20website/collaboration%20backgrounds/Young_entrepreneur_network_xaqmip.webp);
}

.anterpreenabg {
  background-image: url("https://res.cloudinary.com/dp92qug2f/image/upload/v1685366807/Ecell%20website/collaboration%20backgrounds/Anterprerna_1_o48vay.webp");
}

@media only screen and (max-width: 1100px) and (min-width: 662px) {
  .collab-content {
    max-width: 65%;
  }

  .collab-content p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 660px) {
  .collab {
    padding-top: 2rem;
    margin-bottom: 3rem;
  }

  .collab h1 {
    font-size: 8vw;
  }

  .btn-junior {
    width: 98%;
    padding: 0.8rem 0;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .btn {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
    min-width: 35% !important;
    object-fit: contain !important;
  }

  .btn-junior button {
    margin: 0 0rem;
  }

  .collab-content {
    left: 5%;
    max-width: 90%;
    border-image-source: linear-gradient(
        114.55deg,
        var(--border-color-grey) 2.13%,
        var(--border-color-black) 98.14%
      ),
      radial-gradient(
        97.09% 224.61% at 1.38% 96.94%,
        var(--border-color-black) 0%,
        var(--border-color-primary-dark) 100%
      );
    background: radial-gradient(
      98.11% 288.82% at 98.11% 2.14%,
      var(--border-color-grey) 0%,
      var(--border-color-black) 100%
    );
    background: radial-gradient(
        97.09% 224.61% at 1.38% 96.94%,
        var(--border-color-black) 0%,
        var(--border-color-primary-dark) 100%
      ),
      radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(13, 14, 64, 0) 0%, #0d0e40 100%),
      linear-gradient(
        114.55deg,
        var(--border-color-grey-light) 2.13%,
        var(--border-color-black) 98.14%
      ),
      radial-gradient(
        98.11% 288.82% at 98.11% 2.14%,
        var(--border-color-grey) 0%,
        var(--border-color-black) 100%
      );
    backdrop-filter: blur(2px);
    border-radius: 8px;
    border: 1px solid var(--border-color-grey-light);
  }

  .collab-content p {
    font-size: 1.125rem;
    padding-right: 0.3rem;
    text-align: justify;
    color: var(--text-color-white);
    font-weight: 400;
  }

  .btn:focus .ru-collab {
    filter: grayscale(0);
    border-bottom: 3px solid var(--text-color-primary);
    /* transform: translateY(-1vh); */
  }

  #tbn-indi-collab-po {
    width: 30%;
    flex: none;
    order: 1;
    /* height: 19vw; */
    flex: none;
    order: 1;
    margin-left: 1.5%;
    margin-right: 1.5%;
    /* perspective: 6.25rem; */
  }

  .njkl021 {
    border-bottom: 1.5px solid var(--border-color-primary);
    transform: translateY(-2vh);
  }
}

@media only screen and (max-width: 320px) {
  .btn-junior button {
    font-size: 0.5rem;
  }

  .rupay-main {
    height: 150vh;
  }
  .collab-content p {
    font-size: 0.9rem;
    line-height: 1.6;
  }
}

@media only screen and (max-height: 500px) {
  .collab-content {
    min-width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .rupay-main,
  .unacademy-main,
  .pnb-main,
  .ieee-main,
  .cocacola-main,
  .vedantu-main,
  .janta-main {
    height: 170vh;
  }
}
