.timeline-section {
    position: relative;
    background: linear-gradient(0deg, rgba(4, 27, 55, 0.6), rgba(4, 27, 55, 0.6));
    background-image: url(../../../assets/timeline-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    background-attachment: fixed;
    z-index: 9;
    margin-top: 3.5rem;
}

.time-title {
    color: white !important;
}

.timeline-main {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 20vh;
}

.timeline-main::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
}

.timeline-child {
    min-width: 20% !important;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline-child img {
    display: block;
    margin: 0 auto;
    width: 50%;
    object-fit: contain;
    pointer-events: none;
}

.arrows {
    display: inline !important;
    width: 100% !important;
}


.tc2 {
    min-width: 20% !important;
}

.child-title {
    font-family: 'Barlow Condensed', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: white;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.timeline-h1 {
    margin: auto;
    /* margin-top: 15vh; */
    width: 90%;
    font-family: 'Barlow Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    line-height: 84px;
    border-bottom: 2px solid white;
    padding-top: 30px;
    text-align: center;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}

@media only screen and (max-width:1200px) and (min-width:661px) {
    .timeline-section {
        min-height: 50vh;
        height: auto;
    }

    .timeline-child img {
        width: 60%;
    }

    .timeline-h1 {
        width: 90%;
    }

    .timeline-main {
        transform: translateY(-10vh);
        padding-left: 2rem;
    }

    .child-title {
        font-size: 1.5rem;
        margin-top: 2vh;
    }
}

@media only screen and (min-width:660px) {
    .svg-contained {
        display: none;
    }
}

@media only screen and (max-width:660px) {

    .timeline-section {
        transition: height 99999s;
        background-attachment: scroll;
    }

    .timeline-h1 {
        font-size: 32px;
        width: 80%;
    }


    .timeline-main {
        flex-direction: column;
        margin-top: 5vh;
    }

    .timeline-child {
        min-height: min-content;

    }

    .timeline-child img {
        width: 50% !important;

    }

    .child-title {
        font-size: 1.2rem;
    }

    #orie {
        position: absolute;
        left: 2%;
    }

    #emp {
        position: absolute;
        top: 60%;
        left: 2%;
    }

    #srj {
        position: absolute;
        top: 40%;
        right: 2%;
    }

    #prb {
        position: absolute;
        top: 80%;
        right: 2%;
    }


    .tc2 {
        width: 85%;
    }

    .tc3 {
        width: 85%;
    }

    .arrows {
        display: none !important;
    }

    .svg-contained {
        display: block;
    }

    .sr-emp {
        position: absolute;
        top: 51%;
        left: 35%;
    }

    .or-sr {
        position: absolute;
        top: 31.5%;
        left: 37%;
    }

    .emp-pre {
        position: absolute;
        top: 73%;
        left: 37%;
    }
}

@media only screen and (max-width:320px) {
    #orie {
        position: absolute;
        left: 0%;
    }

    #emp {
        position: absolute;
        top: 60%;
        left: 0%;
    }

    #srj {
        position: absolute;
        top: 40%;
        right: 0%;
    }

    #prb {
        position: absolute;
        top: 80%;
        right: 0%;
    }

    .timeline-child img {
        width: 35% !important;
    }

    .child-title {
        font-size: .8rem;
    }
}