*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
a{
  text-decoration: none;
  color: white;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #1DA1F2;
}
::-webkit-scrollbar-thumb{
  background: #161c2f;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
  background: #0072b1;
}
