* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none !important;
  color: white !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #224259;
}
::-webkit-scrollbar-thumb {
  background: #161c2f;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0072b1;
}

.loading {
  filter: blur(20px);
  clip-path: inset(0);
}

.loaded {
  filter: blur(0px);
  transition: filter 0.8s linear;
}
