:root {
  --text-color-white: white;
  --text-color-black: black;
  --text-color-red: red;
  --text-color-primary: #224259;
  --text-color-primary-light: #3e618e;
  --text-color-grey: #505050;
  --text-color-grey-light: #ccc;

  --border-color-black: black;
  --border-color-white: white;
  --border-color-primary: #224259;
  --border-color-primary-dark: rgb(11, 11, 62);
  --border-color-grey: #505050;
  --border-color-green: rgba(0, 128, 0);
  --border-color-orange: rgba(245, 92, 5, 0.5);
  --border-color-grey-light: #ccc;
  --border-color-primary-light: #80bdff;

  --btn-color-black: black;
  --btn-color-white: white;

  --bg-color-primary: #224259;
  --bg-color-primary-dark: rgb(11, 11, 62);
  --bg-color-white: white;
  --bg-color-green: rgba(0, 128, 0);
  --bg-color-red: rgba(255, 0, 0);
  --bg-color-primary-light: #1da1f2;
  --bg-color-grey-light: #ccc;

  --box-shadow-color-black-1: rgba(0, 0, 0, 0.1);
  --box-shadow-color-black-2: rgba(0, 0, 0, 0.24);
  --box-shadow-color-primary: #224259;
  --box-shadow-color-primary-dark: rgba(1, 51, 91, 0.7);
  --box-shadow-color-grey-light: #ccc;
  --box-shadow-color-grey: #f2f2f240;
  --box-shadow-color-green: #224529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none !important;
  color: var(--text-color-white) !important;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color-primary);
}
::-webkit-scrollbar-thumb {
  background: #161c2f;
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0072b1;
}

.loading {
  filter: blur(20px);
  clip-path: inset(0);
}

.loaded {
  filter: blur(0px);
  transition: filter 0.8s linear;
}
