.sponsor-top {
  margin: 4vw 0 3vw 0;
  /* margin-bottom: 5rem; */
}
.sponsor-top h1 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 100;
  font-size: 4.375rem;
  line-height: 5.25rem;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 80px;
  margin-right: 2px;
  color: var(--text-color-primary);
  text-shadow: 2px 2px 4px var(--border-color-orange);
}

.img-parnt {
  margin-left: 10rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* gap: 1rem; */
  justify-content: center;
  border-radius: 8px;
}

.row {
  display: flex;
  /* padding: 2px 0px;  */
  background-color: var(--bg-color-white);
  height: 125px;
  width: 400px;
  left: 20px;
  top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.col {
  width: 30%;
  height: 15vw;
  margin: 0 auto;
  flex: 25%;
  max-width: 25%;
  flex-direction: row;
}
.col img {
  width: 200px;
  height: 50px;
  margin-bottom: 400px;
}

@media only screen and (max-width: 660px) {
  .sponsor-top h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .img-parnt {
    margin-left: 0;
    margin-right: 10rem;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 100%;
  }
  .row {
    padding: 0px;
    width: 35%;
    height: 80px;
  }
  .col {
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
  }
  .col img {
    width: 50px;
    height: 30px;
    margin-bottom: 400px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 661px) {
  .sponsor-top h1 {
    font-size: 3.5rem;
  }
  .img-parnt {
    margin-left: 150px;
    /* margin-right: 10rem; */
  }
}
