.profile_Card {
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.profile_2 {
    margin: 0.35rem;
}
.img img{
    height: 70vh;
}
.content {
    margin: 0.4rem;
    padding: 1.2rem;
    font-size: 1.5rem;
    text-overflow: clip;
    overflow: hidden;
}

.modalHead {
    text-align: center;
    font-size: 1.9vw;
    font-weight: 900;
    color: #224259;
}

.authHead {
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 1.5vw;
    font-weight: 600;
}

.fdfdfere h2{
    font-style: normal !important;
}

@media only screen and (max-width: 992px) {
    .content {
        font-size: 1.3rem;
    }

    .img img {
        height: 15rem;
        width: 13rem;
    }

    .one {
        font-size: 1.5rem;
    }

    .two {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 991px) {
    .content {
        font-size: 1.1rem;
    }

    .img img {
        height: 12rem;
        width: 9rem;
    }

}

@media only screen and (max-width: 481px) {
    .content {
        font-size: 1.1rem;
        padding: 0.5rem;
    }
    .profile_Card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .authHead {
        margin-bottom: 0;

    }
    .img img{
        height: 10rem;
        width: 7rem;
    }
    .one {
        font-size: 5vw;
        margin-top: 3vw;
    }
    
    .two{
        font-size: 4.5vw;
        margin-top: 1.25vw;
    }
}