.about {
  height: 60vh;
  width: 80vw;
  display: flex;
  margin: 30px 9.5%;
}

.about_text {
  margin: 0 30px;
  font-size: 24px;
}
.about_image {
 width: 30vw;
 height: 30vw;
 /* padding-left:2vh; */
}
.underline {
  width: 1216px;
  background-color: #224259;
  width: 80vw;
  height: 2px;
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;

}
.about_heading {
  /* width: 240px; */
  /* height: fit-content; */
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  /* line-height: 84px; */
  text-align: center;
  color: #224259;
  margin-bottom: auto;

}

.cards-set-1{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    flex-shrink: 1;
    padding:2% 7.7%;
}
.cards-set-2{
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    /* justify-content: space-between; */
    padding:2% 22.22%;   
    /* justify-content: center; */
    
}
.motto{
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 67.2px;
  text-align: center;
  color: #224259;
}

@media only screen and (max-width:1050px){
    .about{
        display: block;
        height: 90vw;
    }
    .about_text {
    font-size: 18px;
    margin:15px;
    margin-bottom: 20px;
    }
    
    .about_image{
        margin-left:25px;
        margin-bottom:0px;
        width: 75vw;
        height: 60vw;
    }


}


@media only screen and (max-width:600px){

    .about {
        /* height: 60vh;
        width: 80vw;*/
        display: block;
        flex-direction: column;
        height: 120vw;
        /* margin: 30px 9.5%; */
    }

    .about_heading {
      /* width: 240px; */
      font-size: 24px;
      margin-bottom: 3px;
    }
    .motto{
        font-size: 20px;
        /* margin-top: 270px; */
        padding-top: 88px;
    }
    .about_text_div{
        display: flex;
        flex-wrap:wrap ;

    }
    .about_test{
        font-size: 16px;
    }
    
    .cards-set-1{
        display: block;
        padding: 2% 5%;
        padding-bottom: 0px;
    }
    .cards-set-2{
        display: block;
        padding: 2%  5%;
        padding-top: 0px;
    }
    .about_text_div{
        margin-bottom: 40px;
    }
    .about_image{
        margin-left: 12px;
    }
  



}
@media only screen and (max-width:400px){

    .motto{
        font-size: 20px;
        padding-top: 208px;
    }

}