.about {
    /* height: 60vh; */
    width: 80vw;
    display: flex;
    margin: 30px 9.5%;
    padding-bottom: 10vh;
}

.about_text {
    line-height: 1.35em;
    margin: 0 30px;
    font-size: 1.25rem;
}

.about_image {
    width: 30vw;
    height: 30vw;
    /* padding-left:2vh; */
}

.underline {
    width: 1216px;
    background-color: #224259;
    width: 80vw;
    height: 2px;
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

}

.about_heading {
    /* width: 240px; */
    /* height: fit-content; */
    margin-top: 2rem;
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    /* line-height: 84px; */
    text-align: center;
    color: #224259;
    margin-bottom: auto;

}

.cards-set-1 {
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    flex-shrink: 1;
    padding: 2% 7.7%;
}

.cards-set-2 {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    /* justify-content: space-between; */
    padding: 2% 22.22%;
    /* justify-content: center; */

}

.motto {
    font-family: "Barlow Condensed";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 67.2px;
    text-align: center;
    color: #224259;
}

@media only screen and (max-width:1350px) {
    .about {
        display: block;
        /* height: 90vw; */
        padding-bottom: 0 !important;
        margin-bottom: 5vh !important;
    }

    .about_text {
        /* line-height:normal; */
        font-size: 1.50em;
        margin: 15px;
        margin-bottom: 20px;
    }

    .about_image {
        margin-left: 25px;
        margin-bottom: 0px;
        width: 75vw;
        height: 60vw;
    }


}


@media only screen and (max-width:600px) {

    .about {
        display: block;
        flex-direction: column;
    }
    
    .about_heading {
        /* width: 240px; */
        font-size: 2rem;
        margin-bottom: 3px;
    }

    .motto {
        display: none;
    }

    .about_text_div {
        display: flex;
        flex-wrap: wrap;
    }

    .about_text {
        font-size: 1.00rem;
    }

    .cards-set-1 {
        display: none;
    }

    .cards-set-2 {
        display: none;
    }

    .about_text_div {
        margin-bottom: 40px;
    }

    .about_image {
        margin-left: 12px;
    }




}

/* @media only screen and (max-width:400px) {

    .motto {
        font-size: 2rem;
        
    }

} */