.about_card_ {
  background-color: var(--box-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  min-height: 22vw;
  max-height: fit-content;
  /* box-shadow: 4px 4px 12px rgba(79, 79, 79, 0.2), -4px -4px 12px rgba(242, 242, 242, 0.25); */
  border-radius: 8px;
  text-align: center;
  user-select: none;

  box-shadow:
    0 1px 3px var(--box-shadow-color-black-1),
    0 1px 2px var(--box-shadow-color-black-2);
  transition: all 0.5s ease-in-out;
}

.about_card_:hover {
  box-shadow: 8px 7px 18px var(--box-shadow-color-grey-light);
  transform: scale(1.01);
}

.image_style {
  width: 80px;
  display: flex;
  justify-content: center;
  margin: 12px 0;
}
.motto_card_text {
  color: var(--light-text-color);
  margin: 0 24px 24px 24px;
  font-size: 1.35vw;
}

@media (max-width: 1200px) {
  .about_card_ {
    min-height: 33vw;
    margin-top: 4vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  .motto_card_text {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 83.33%;
    /* margin: auto; */
    margin-top: 2.2rem !important;
    /* margin-top: 2rem; */
  }
  .motto_card_text {
    font-size: 2.5vw;
    padding-bottom: 10px;
  }
  .about_card_ {
    width: 17.5rem;
    height: 50vw !important;
  }
}

@media (max-width: 660px) {
  .about_card_ {
    display: none;
  }
}

@media only screen and (max-width: 610px) {
  .card {
    width: 83.33%;
    margin: auto;
  }
  .motto_card_text {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
