.about_card_ {
  width: 60rem;
  min-height: 18rem;
  max-height: fit-content;
  margin: auto;
  box-shadow: 4px 4px 12px rgba(79, 79, 79, 0.2), -4px -4px 12px rgba(242, 242, 242, 0.25);
  border-radius: 8px;
  margin-left: 2vw;
}
.image_style{
    display: flex;
    justify-content: center;
    margin: 12px 0;
}
.motto_card_text{
    margin: 0 24px 24px 24px;
    font-size:24px;
}


@media only screen and (max-width:1000px){
    .card{
        width: 83.33%;
        /* margin: auto; */
        margin-top: 2.2rem !important;
        /* margin-top: 2rem; */
    }
    .motto_card_text{
        font-size: 18px;
        padding-bottom: 10px;
    }

}




@media only screen and (max-width:610px){
    .card{
        width: 83.33%;
        margin: auto;
    }
    .motto_card_text{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .about_card_{
        display: none;
    }

}