@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap");

.container {
  text-align: center;
}

.header {
  width: 40%;
  margin: 44px auto 4px;

  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  line-height: 84px;
  /* identical to box height */

  text-align: center;

  /* Dark Blue */

  color: #224259;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.horizontal-line {
  /* Vector 1 */

  width: 100%;
  height: 0px;

  /* Dark Blue */

  border-top: 2px solid #224259;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.Card-holder {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.Card-holder::-webkit-scrollbar {
  display: none;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 5% 5%;
}

.prev,
.next {
  /* White */

  background: #ffffff;
  /* Stroke */

  border: 1px solid #9a9494;
  width: 36px;
  height: 33px;

  transition: all 0.2s ease-in-out;
}

.prev {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.next {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.prev:hover,
.next:hover {
  background-color: #3e618e;
  color: #fff;
}

.prev:hover .arrow,
.next:hover .arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow {
  border: solid #505050;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

@media only screen and (max-width: 1340px) {
  .header {
    width: 60%;
  }
}

@media only screen and (max-width: 1170px) {
  .Card-holder {
    display: flex;
    flex-direction: column;
  }

  .header {
    font-size: 60px;
  }

  .btns {
    display: none;
  }
}

@media only screen and (max-width: 875px) {
  .header {
    width: 100%;
  }
}

@media only screen and (max-width : 780px) {
  .header {
    font-size: 55px;
  }
}

@media only screen and (max-width: 550px) {
  .header {
    font-size: 45px;
  }
}
