.tab_main {
  display: flex;
  padding-top: 2em;
  justify-content: center;
  font-size: 2.35vw;
  font-weight: 600;
  color: var(--text-color-grey-light);
  cursor: pointer;
  user-select: none;
}

div.tab_main > * {
  margin: 1.25rem;
}
.core-team {
  display: flex;
}

.dropdown {
  display: flex !important;
}
.dropdown-menu {
  border: none !important;
  padding-top: 0%;
  box-shadow: 0 3px 10px var(--box-shadow-color-black-2);
}

#dropdown-custom-1 {
  background-color: var(--bg-color-white);
  color: var(--text-color-grey-light);
  border: var(--border-color-white);
  font-weight: 600;
  font-size: 2.35vw;
  margin-top: 0%;
  padding-top: 0%;
  margin-bottom: 0%;
  border-radius: 0%;
}

.dropdown-menu > * {
  background-color: var(--bg-color-white) !important;
  color: var(--text-color-grey-light) !important;
  font-weight: 600 !important;
  font-size: 2.35vw !important;
}
.dropdown-menu > *:hover {
  color: var(--text-color-primary) !important;
}

.active-link {
  color: var(--text-color-primary);
  text-decoration: none;
  border-bottom: 3.5px solid var(--border-color-primary);
  /* padding-bottom: 1px; */
}

.active-link #dropdown-custom-1 {
  color: var(--text-color-primary);
}

@media (max-width: 1025px) {
  .tab_main {
    font-size: 3.8vw;
  }

  #dropdown-custom-1 {
    font-size: 3.8vw;
  }
  .dropdown-menu > * {
    font-size: 3.8vw !important;
  }
}

@media screen and (max-width: 768px) {
  .tab_main {
    font-size: 3.5vw;
  }
  div.tab_main > * {
    margin-left: 1vw;
  }
  #dropdown-custom-1 {
    font-size: 3.5vw;
  }
  .dropdown-menu > * {
    font-size: 3.5vw !important;
  }
  .dropdown-menu {
    min-width: 30px !important;
  }

  .active-link {
    color: var(--text-color-primary);
    text-decoration: none;
    border-bottom: 2.5px solid var(--border-color-primary);
    /* padding-bottom: 1px; */
  }
}

@media screen and (max-width: 480px) {
  .tab_main {
    font-size: 3.2vw;
  }
  div.tab_main > * {
    margin-left: 0.25vw;
  }
  #dropdown-custom-1 {
    font-size: 3.2vw;
    padding-left: 0%;
    padding-right: 0%;
  }
  .dropdown-menu > * {
    font-size: 3.2vw !important;
  }
  .dropdown-menu {
    min-width: 20px !important;
  }
}
