.sidebar-admin {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #224259;
  color: white;
  width: 15vw;
  height: 100vh;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    img {
      height: 80%;
      object-fit: cover;
    }
  }
  .sidebar-admin-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5vw;
    @media screen and (max-width: 768px){
      width: 50%;
    }
    a {
      color: white;
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: 0.3s;
      position: relative;
      
      &::after {
        content: "";
        width: 0;
        height: 5px;
        background-color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        border-radius: 0.5rem;
        transform-origin: center;
        transition: 0.3s;
      }
      &:hover {
        &::after {
          width: 50%;
          height: 3px;
        }
      }
    }
    .active {
      width: fit-content;
      &::after {
        width: 50%;
      }
    }
    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
  button {
    color: rgb(251, 251, 251);
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 0.25vw 1.5vw !important;
    border-radius: 7.59px;
    font-size: 1.7vw;
    width: fit-content;
    @media screen and (max-width: 768px) {
      font-size:2rem;
    }
  }
  // @media screen and (max-width: 768px) {
  //   display: none;
  //   width: 100vw;

  // }
}
.menu {
  position: fixed;
  color: white;
  right: 1rem;
  top: 1rem;
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .sidebar-admin {
    // display: none;
    width: 0;
    transition: 0.3s;
  }
  .active {
    width: 100vw;
  }
}
