.sidebar-admin {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #224259;
  color: white;
  width: 15vw;
  height: 100vh;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    img {
      height: 80%;
      object-fit: cover;
    }
  }
  .sidebar-admin-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 1.5vw;
    a{
      color: white;
      text-decoration: none;
      padding: 0.5rem;
      border-radius: 0.5rem;
      transition: 0.3s;
      &:hover{
        background-color: #2a5368;
      }
    }
  }
  button {
    color: rgb(251, 251, 251);
    border: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 0.25vw 1.5vw !important;
    border-radius: 7.59px;
    font-size: 1.7vw;
    width: fit-content;
    @media screen and (max-width: 768px) {
      padding: 0.75vw 3vw !important;
      border-radius: 7.59px;
      font-size: 3.4vw;
    }
  }
}
